[2020-08-08 03:19] syumai opened #5 "`Unmarshal` fails when decoding `null` as string"
`Unmarshal` fails when decoding `null` as string.
Referring to `encoding/json`, the expected result is an empty string.

## Reproduction code

https://play.golang.org/p/-mRPc-XSadc

[code]

[2020-08-08 03:23] #5 closed

[2020-08-08 03:31] syumai opened #7 "Unmarshal fails when decoding `null` as slice"
Unmarshal fails when decoding `null` as slice.
Referring to `encoding/json`, the expected result is typed `nil`.
This issue is similar to #5 .

## Reproduction code

[code]

main.Message{Fields:[]string{"value"}}
main.Message{Fields:[]string(nil)}
goccy/go-json
main.Message{Fields:[]string{"value"}}
panic: unexpected end of JSON input for slice

main.main()
	/tmp/sandbox005927213/prog.go:33 +0x54d

[2020-08-08 03:50] syumai opened #8 "Decoding `map` with nested Object gets only first element"
Decoding `map` with nested Object gets only first element.

## Reproduction code

[code]

map[a:1 b:2 c:<nil>]
map[a:map[nestedA:value of nested a] b:map[nestedB:value of nested b] c:map[nestedC:value of nested c]]
goccy/go-json
map[a:1 b:2 c:<nil>]
map[a:map[nestedA:value of nested a]]

https://play.golang.org/p/wzNqCqm3Ryl

[2020-08-08 04:23] #7 closed

[2020-08-08 04:45] #8 closed

[2020-08-08 06:20] catatsuy opened #11 "Unable to encode the structure prefixed by omitempty"
For example,

[code]

[code]

[2020-08-08 10:00] #11 closed

[2020-08-11 15:50] podhmo opened #17 "With recursive structure, stack overflow is occurred"
Something like the following.

[code]

[code]

full stack-trace is here.

<details>

[code]

</details>

[2020-08-12 09:44] #17 closed

[2020-08-12 13:10] podhmo opened #20 "nil dereference panic is occured, when the structure has same type fields?"
Inputting the code something like this, nil dereference panic is occurred.

[code]

[code]

<details>

[code]

</details>

[2020-08-13 06:28] #20 closed

[2020-08-13 13:24] u1aryz opened #22 "Handling of embedded fields is different from "encoding/json""
### For example code

[code]

### Result

- goccy/go-json
[code]

- encoding/json
[code]

[2020-08-15 09:40] #22 closed

[2020-10-20 09:28] zchee opened #53 "Fix checkptr validation issue"
As a https://github.com/goccy/go-json/pull/52#issuecomment-704418153, we should pass checkptr validation.

I'd short dig checkptr algorithm with Go runtime source code level, and found quickly fixing way. but still un-safe a bit. (means can force ignore, so might be also ignores actual checkptr problem.
Will continue to fixing way.

[2020-11-16 13:55] #53 closed

[2020-11-23 06:00] zchee opened #63 "found bad pointer in Go heap error"
Currently, the encoder sometimes gives the `found bad pointer in Go heap` or `found pointer to free object` error.
It may be related to garbage collection.

---

Reproduce:
- `GCGC=1` is required. apply GC pressure to the test
- `-gcflags='all=-N -l'` is not required. If omitted, that error happens about once in 10 times

<details>
<summary><code>$ GOGC=1 go1.15.5 test -v -count 1 -run=. -gcflags=

[2020-11-23 14:20] zchee commented on #63
ref: use `GODEBUG=invalidptr=0` doesn't panic.

[2020-11-24 15:44] zchee opened #66 "Failed some benchmark"
in [goccy/go-json@v0.1.15](https://github.com/goccy/go-json/tree/v0.1.15),
[code]

FYI, at least passed [goccy/go-json@v0.1.10](https://github.com/goccy/go-json/tree/v0.1.10). I'll dig it.

Compare:
https://github.com/goccy/go-json/compare/v0.1.10...v0.1.11

[2020-12-24 03:35] d2jvkpn opened #72 "package cause panic"
goroutine 191 [runnable]:
github.com/goccy/go-json.(*Encoder).encodeString(0xc000284070, 0xc000164133, 0x4)
	/home/hello/go/pkg/mod/github.com/goccy/go-json@v0.1.15/encode.go:333 +0x73
github.com/goccy/go-json.(*Encoder).run(0xc000284070, 0xc000576cc0, 0xc0002c1b30, 0xbdbcc0, 0xc000280100)
	/home/hello/go/pkg/mod/github.com/goccy/go-json@v0.1.15/encode_vm.go:163 +0x4cad
github.com/goccy/go-json.(*

[2020-12-26 04:57] itchyny opened #75 "Decoder cannot parse [{}] to interface{}"
## Description
This library cannot parse `[{}]` to an `interface{}` while `encoding/json` can.

## How to reproduce
Run the following code.
[code]

## What I get
[code]

## What I expect
[code]
just like `encoding/json` does.

## Environment
- Go 1.15.6
- go-json 0.1.16

[2020-12-26 07:46] goccy commented on #75
Thanks for the reporting issue.
This problem already have fixed at master branch, so I released v0.1.17 by latest commit .

[2020-12-26 07:47] goccy commented on #66
Thanks ! I fixed this issue at v0.1.17

[2020-12-26 07:47] #66 closed

[2020-12-26 07:50] goccy commented on #72
@d2jvkpn

Please provide the source code that caused the problem, as this information alone cannot be investigated.
Also, v0.1.17 has been released as the latest release, so please try it there.

[2020-12-26 07:52] itchyny commented on #75
Oops, sorry about that. I confirmed the fix so closing.

[2020-12-26 07:52] #75 closed

[2020-12-29 01:18] d2jvkpn commented on #72
ok, I will try the latest release.

[2021-01-05 10:08] zchee commented on #63
Seems fixed this issue. Close.

[2021-01-05 10:08] #63 closed

[2021-01-21 05:34] goccy commented on #72
I don't seem to get a reply, so I closed this issue. If you reproduce it again, please reopen this.

[2021-01-21 05:34] #72 closed

[2021-01-21 15:09] lestrrat opened #93 "Weird behavior when swapping from encoding/json to github.com/goccy/go-json"
[code]

In github.com/lestrrat-go/jwx ([topic/v1.1.0-marshal-optimize branch](https://github.com/lestrrat-go/jwx/tree/topic/v1.1.0-marshal-optimize), commit [bc72347](https://github.com/lestrrat-go/jwx/commit/bc72347ec2f562ed397aec12ef86dbabba4e2cb8)), if you just run some tests, it passes.

[code]

Now, apply the following patch

[code]

Then run

[code]

and then run some tests.

[code]

Further

[2021-01-21 22:23] lestrrat commented on #93
I traced the offending call for my first problem

[code]
to this.

[code]

Upon inspecting my code, a few things that got my attention

* I'm making a call to json.Marshal from within MarshalJSON() - I call `json.Marshal(*jws.Message)`, and `(jws.Message).MrashalJSON()` creates another struct within it, and then calls `json.Marshal` on it
* The object that is being marshaled at `/Users/lestrrat/de

[2021-01-21 23:50] lestrrat commented on #93
As I suspected, [changing `(jws.Message).MarshalJSON()` to **NOT** use `json.Marshal` against a unexported struct ](https://github.com/lestrrat-go/jwx/commit/e197c0b4f6e3cc4e3a88b7a8e779e2c3f3a60d81#diff-53147420851a4a4017650d24d6176ea4a4157d83ef39f852ed74c1c07bc8b27b)from within it fixed the first problem.

I think you have a problem when dealing win structs that are not exported.

I'm still not

[2021-01-22 01:40] Warashi commented on #93
I reproduced problem
https://play.golang.org/p/ax3SkvRyWRV

omitempty of `*string` seems not implemented

[2021-01-22 02:43] goccy commented on #93
Thank you for your report.
For the first issue, since I just committed a String operation related fix the other day and I think it will work on the master branch.
The second problem, as reported, seems to be a bug with structs within only unexported fields.

[2021-01-22 04:08] lestrrat commented on #93
@goccy I'm not sure if it's fixed in master. From [github.com/lestrrat-go/jwk@bc72347ec](https://github.com/lestrrat-go/jwx/commit/bc72347ec2f562ed397aec12ef86dbabba4e2cb8) (this is the commit at which I'm still calling `json.Marshal` from within `(jws.Message).MarshalJSON()`), I did

[code]

Then ran tests in my `examples` directory, and tests still fail:

[code]

Just as a sanity check, the file

[2021-01-22 04:35] goccy commented on #93
I try to fix this problem with https://github.com/goccy/go-json/pull/94 .
Currently, I have confirmed that all errors except the output by `make smoke` have been fixed.

[2021-01-22 04:46] lestrrat commented on #93
@goccy indeed. As of 305e858 the failures in `jwk` directory are gone, and failures in `examples` directory remain

[2021-01-22 05:08] goccy commented on #93
I was debugging with `go mod edit`.
By doing `go mod edit` in the same way under the examples directory, the error caused by `make smoke` disappeared.

[code]

Apparently, the modules will not be replaced unless you replace them even under examples ( sub directory ) .

[2021-01-22 05:13] goccy commented on #93
I released `v0.3.2` ( https://github.com/goccy/go-json/releases/tag/v0.3.2 ) to fix this problem .

[2021-01-22 05:23] Warashi commented on #93
this code ran successfully with v0.3.2
https://github.com/goccy/go-json/issues/93#issuecomment-765055758

[2021-01-22 05:33] lestrrat commented on #93
@goccy that's because from Go's viewpoint, every directory containing a go.mod is considered to be separate module. I have separate go.mod files in `examples` and `bench`, because otherwise it will (well, actually right now on `examples` does that, but...) cause users of my library to pull in optional modules, such as `github.com/cloudflare/circl` in `examples`

That's why I have an explicit

[cod

[2021-01-22 05:40] lestrrat commented on #93
@goccy I still get errors (Note: I'm NOT using HEAD of topic/v1.1.0-marshal-optimize, I'm using bc72347ec2f562ed397aec12ef86dbabba4e2cb8 because I "fixed" the error in `examples` by removing `json.Marshal` from the code)

[code]

I'm definitely using v0.3.2

[code]

[2021-01-22 07:26] goccy commented on #93
Oh... I also reproduced it !
I will fix it as soon as possible ...!

[2021-01-22 10:58] Warashi commented on #93
I also reproduced it
https://play.golang.org/p/kxAvr02st4c
struct with 3 `*string` fields seems to fail

[2021-01-22 11:17] goccy commented on #93
I was able to confirm that this fix ( #95 ) did not cause an error.
However, I sometimes got an error when testing with `go test -race` , so I'm investigating the cause ....

[2021-01-22 12:11] lestrrat commented on #93
As of 20b409ed1f64 I get the following at the end of the test :/

[code]

[2021-01-22 12:20] goccy commented on #93
`stdToken.privateClaims` ( defined at `jwt/token_gen.go` ) is accessed concurrently ... ?

[2021-01-22 12:32] lestrrat commented on #93
It's possible (and I thought about that), but this never happens when using `encoding/json`, so... I can certainly put a lock around `stdToken`, but it does strike me as odd that this only happens when I switch to `github.com/goccy/go-json`

[2021-01-22 12:41] goccy commented on #93
It doesn't seem to be directly related to this problem, but it seems that `encoding/json` can also cause the following error .
Perhaps, I tried to 10 times and more .

[code]

[2021-01-22 12:44] lestrrat commented on #93
That, I understand. That probably has nothing to do with `encoding/json`

[2021-01-22 12:46] lestrrat commented on #93
For your testing, please disable that one test for AutoRefresh

[2021-01-22 12:56] lestrrat commented on #93
I added locks around `jwt.stdToken` at [8b87dca382368a25585236460935a52b3e9252d5](https://github.com/lestrrat-go/jwx/commit/8b87dca382368a25585236460935a52b3e9252d5), and yeah the above problem went away.

I suppose this is then okay, but it's just *feels* weird that this never happened with `encoding/json`, and seems to reproduce every time with `github.com/goccy/go-json`

[2021-01-22 13:00] lestrrat commented on #93
@goccy oh well, the original problem is gone. Please merge #95 and close this issue? I will file another issue if I find something else.

[2021-01-22 13:02] goccy commented on #93
OK ! I will merge #95 !

[2021-01-22 13:02] #93 closed

[2021-01-22 13:05] lestrrat commented on #93
Thank you!

[2021-01-22 13:49] lestrrat opened #96 "fatal error: found bad pointer in Go heap (incorrect use of unsafe or cgo?)"
Using [github.com/lestrrat-go/jwx@c832c23d](https://github.com/lestrrat-go/jwx/commit/c832c23d0c12715a78e4d2e64893d35f9df5e936).

Apply this patch to enable `github.com/goccy/go-json`:

[code]

Then when I run this test, I get an error

(Note, sometimes -count=10 is not enough, so you may need to run the tests multiple times)

[code]

[code]

My code definitely does not use cgo or  unsafe, and thi

[2021-01-25 04:24] goccy commented on #96
I fixed this issue with #97 and released as [`v0.3.4`](https://github.com/goccy/go-json/releases/tag/v0.3.4) !!!

[2021-01-25 05:26] lestrrat commented on #96
Seems to have fixed the problem! Thank you.

[2021-01-25 05:26] #96 closed

[2021-01-25 17:18] johejo opened #98 "Panic with invalid data"
Found in go-fuzz
https://github.com/dvyukov/go-fuzz

Test code

[code]

Output

[code]

[2021-01-27 05:31] lestrrat commented on #98
This fixes the issue

[code]

[2021-01-29 17:09] #98 closed

[2021-01-31 10:31] sujit-baniya opened #104 "Getting Error when trying to include json.Marshal in gofiber JsonEncoder"
I'm getting this error when trying to integrate this library with gofiber: https://github.com/gofiber/fiber

`failed to handle opcode. doesn't implement StructFieldOmitEmptyStruct`

[2021-01-31 19:52] lestrrat opened #105 "Consider using golangci-lint"
I just realized that the project does not run any code linters, when I noticed that some variables in encode_string.go were not used. Some of these are frivolous, but the amount of unused code kind of worries me.

Can we add a Github action to run golangci-lint? I can create a PR.

Meanwhile, here's the current status

[code]

[2021-01-31 22:29] lestrrat opened #106 "Error message is unclear"
このメッセージは英語で読むとちょっと意味が通りづらいと思います。

まず多分言いたいのは「このオペコードは実装されていない」だと思うんですけど、主語が抜けているためtype がinterfaceをimplementするのimplementなのか、実装されていない、の実装なのかよくわからないです。

おすすめは

で、二つ目の%sには対象のオブジェクトないしフィールド名が表示できると最高だと思います。

また、同じメッセージが4カ所に登場するのもデバッグを難しくしていると思うので、それぞれのメッセージの最初にコンテキスト固有のなにがしかを追加するといいかと思います。

とか。

二つ目の%sを端折るなら

でもいいかと思います。

[2021-02-01 02:54] goccy commented on #105
Yes ! Thank you !! 🙇

[2021-02-01 03:09] goccy commented on #106
ありがとうございます。

https://github.com/goccy/go-json/pull/107/commits/04da39a443d87164a2b094e1162600cdd672e08d

こちらで修正しました！

[2021-02-01 03:24] #106 closed

[2021-02-01 04:50] lestrrat opened #109 "consolidate matching tokens"
最初は `len(buf)`と`curso`rを比較しないで `buf[cursor]` してるところが危ないな〜と思ってコードを見ていたのですが、気づいたら 'n', 'u', 'l', 'l' を探して比較している全く同じコードが数カ所にあったので一カ所にまとめてみました。

https://github.com/lestrrat-go/go-json/commit/4c8d8ff1361242cbf263ce076928bb6c078c8ba0

こんな感じの変更をしてよければ、他の"true", "false"とかのトークンも似たようにマッチするコードを追加しますが、いかがでしょう

[2021-02-01 05:18] goccy commented on #109
`len(buf)` と `cursor` を比較していないのは高速化のテクニックで、 buf の末尾に NUL 文字を足しているので、
`buf[cursor]` の switch-case の中に `NUL` が含まれていればバッファの終端を検知できるというのでやってます。

処理の共通化とかのリファクタリングは、この後自分の方でやる予定なのでいったん大丈夫です！
今は可読性より速度を優先していて、 `encoding/json` にある全テストケースを通したら(今は一部のテストが通っていません)、速度を劣化させずにリファクタリングしていこうと思っています。

[2021-02-01 05:45] lestrrat commented on #109
nrhdでは一旦こちらわすれますー

[2021-02-01 05:45] #109 closed

[2021-02-08 06:28] #105 closed

[2021-02-08 14:55] rfyiamcool opened #115 "Why is it faster than encoding/json ？"
What other advantages does it have over encoding/json ? 😅

[2021-02-08 15:15] nsf opened #116 "Invalid JSON produced when embedding structs"
Hi, tried your lib on a fairly large project. Was able to make a reproducable example where lib produces incorrect JSON, here it is:

[code]
Prints:
[code]
Note that Boo is lacking braces `{}`. And this is what "encoding/json" produces:
[code]

---

And a bonus problem, while I was trying to make a reproducable case, I noticed that if you rename Boo field above to just B, e.g.
[code]
Library stops

[2021-02-09 00:32] #116 closed

[2021-02-09 00:34] goccy commented on #116
Thank you for reporting !! I fixed this issue with #117 and released as v0.4.1

[2021-02-09 03:47] nsf opened #118 "MarshalIndent returns empty string"
Another incompatibility with "encoding/json":
[code]
Prints:
[code]

[2021-02-09 03:49] nsf commented on #118
Oh, checked the errors in this example, "github.com/goccy/go-json" returns an error:

Never the less, it's an incompatibility, there is nothing wrong with this struct.

[2021-02-09 08:24] goccy commented on #115
I wrote about speeding up techniques, so please read it if you like.
https://github.com/goccy/go-json#how-it-works

[2021-02-09 09:24] goccy commented on #118
Oh, thank you for reporting ... ! I will fix this issue as soon as possible !

[2021-02-09 10:17] rfyiamcool commented on #115
thank you 😁

[2021-02-09 10:17] #115 closed

[2021-02-09 10:32] vearutop opened #119 "Using goccy/go-json instead of encoding/json fails a few tests in an existing project"
This draft PR https://github.com/swaggest/rest/pull/24 migrates to `goccy/go-json` by changing imports. Unfortunately such a change leads to test failures and a panic.

Relevant GitHub Actions log: https://github.com/swaggest/rest/pull/24/checks?check_run_id=1861642353.

<details>
<summary>Panic message.</summary>

[code]

</details>

[2021-02-09 13:33] #119 closed

[2021-02-09 13:35] goccy commented on #119
Thank you for reporting ! I fixed this issue with #120 and released as `v0.4.2` .
Please try it 🙇

[2021-02-09 15:13] tidwall opened #122 "Fails to parse valid file"
I used the json.Valid function on [this json file](https://raw.githubusercontent.com/simdjson/simdjson/master/jsonexamples/twitter.json) and it failed.

The JSON is known to be valid.

I picked a few more files from [here](https://github.com/simdjson/simdjson/tree/master/jsonexamples) and most of also failed but they are all valid.

Here's a [test program](https://gist.github.com/tidwall/0f2f56544

[2021-02-09 16:33] vearutop opened #123 "Decoding error when streaming decompressed JSON"
Reproducer fails with `json: string unexpected end of JSON input`.

This happens because `gzip.Reader` does not always fill the full buffer, and so `last` value should not be used as stop trigger.
https://github.com/goccy/go-json/blob/v0.4.2/decode_stream.go#L78

<img width="631" alt="image" src="https://user-images.githubusercontent.com/1381436/107395222-e74fc680-6afc-11eb-99a5-c1c429dc7da2.png">

[2021-02-10 06:32] #123 closed

[2021-02-10 06:34] goccy commented on #123
I released this fixing as v0.4.3 ! Thanks !

[2021-02-10 14:05] orisano opened #125 "json.Compact has an incompatible behavior"
I have encountered an incompatible behavior.
https://gist.github.com/orisano/8aa749cd50fece0a61694ee60b87a208

## Source
[code]

## Result
[code]

go-json panicked.
Maybe cause is here.
https://github.com/goccy/go-json/blob/7ffe1ddb3521e9abb485d5c47cf265fb74bea347/compact.go#L32-L36

What is the correct behavior?

[2021-02-10 16:29] goccy commented on #104
Sorry for the late reply, I would like to know for what **type** the error occurred .

[2021-02-10 16:43] sujit-baniya commented on #104
Hi @goccy Thanks for response, What you mean by `type`?
I tried following

[code]
When I received above error. Now I try again and it seems to work fine.

[2021-02-11 01:35] goccy commented on #104
Wow, Good news !
`type` means that what type information passed to `json.Marshal` or `(*json.Encoder).Encode()`

Thanks !

[2021-02-11 02:04] sujit-baniya commented on #104
I'll test some scenario and confirm before closing this issue

[2021-02-12 00:13] vearutop opened #129 "Panic when unmarshaling a complex structure"
Branch migrared to `go-json`: https://github.com/swaggest/jsonschema-go/tree/try-goccy.

<details>
<summary>Reproducer.</summary>

[code]
</details>

<details><summary>Panic trace.</summary>

[code]
</details>

[2021-02-12 10:01] #122 closed

[2021-02-12 10:14] goccy commented on #129
I tried to reproduce it based on the information I received, but panic did not occur.
Is there anything else I have to do?

[2021-02-12 10:41] vearutop commented on #129
Ah, sorry, you need to run the test against a patched branch (migrated to `go-json`) to hit the issue.
[code]

[2021-02-12 11:08] goccy commented on #129
Thank you for the additional information !
I tested it on the specified branch and it was reproduced, so I fixed it with #131

[2021-02-12 11:33] vearutop commented on #129
I confirm, the panic is gone. 👍

[2021-02-14 15:19] #129 closed

[2021-02-17 09:03] franchb opened #139 "compile: signal: killed"
Running with 7Gb outh of 16 Gb available on local machine using new Go 1.16 compiler:

[code]

[code]

Seems to be a similar issue -- https://github.com/blevesearch/segment/issues/5 -- "fast at runtime but slow compilation and this high memory requirement are side-effects"

[2021-02-17 10:40] goccy commented on #139
We recognize this as a known issue.
Go uses a lot of memory when compiling a huge switch statement, so it seems that it uses a lot of memory when compiling the `encode_vm*.go` files.
We plan to reduce compile-time memory usage in the future .
Thanks

[2021-02-18 05:59] franchb commented on #139
Thank you for your answer!

As for now, this issue could be a blocker for switching from `encoding/json` for some mature project.

[2021-02-18 06:43] goccy commented on #139
Oh, I would like to motivate and improve, so could you tell me some of the projects ?

[2021-02-19 06:35] goccy commented on #139
Good news. I fixed this problem with #141

[2021-02-19 17:24] sujit-baniya commented on #104
@goccy I received first error again:

[code]

[2021-02-19 18:23] albertnanda opened #142 "program crashed"
Here is my code:
Go version 1.16
[code]
It works fine till 900 sentences, but crashes at 1000 with the following message:
[code]

[2021-02-19 18:32] franchb commented on #139
Awesome! It compiles from that branch on my local machines required ~1-3 Gb of memory that is definitely acceptable!

[2021-02-20 03:01] goccy commented on #104
Can you answer my question because I want to investigate ?

[2021-02-20 04:12] sujit-baniya commented on #104
@goccy I used `json.Marshal`

[2021-02-20 06:02] goccy commented on #104
@sujit-baniya
What I want to know is **the type information of the value  passing to json.Marshal** that is causing the error.

[2021-02-20 06:05] goccy commented on #142
Thank you for your report.
Can you give me some reproducible data for debugging ?
Also, does this problem reappear in the master branch ?

[2021-02-20 06:23] sujit-baniya commented on #104
Ah sorry!

[code]

This was the code:

[code]

[2021-02-20 14:46] goccy commented on #104
Thank you for detail type information ! I reproduced this problem and try to fix !

[2021-02-22 06:07] #139 closed

[2021-02-22 16:42] haya14busa opened #144 "go-json panic with custom marshar & struct embed & float field?"
go-json panics with the following code. [error log](https://gist.github.com/haya14busa/97fade1a7051df4a661a0eadbf9b1c88)

I found it when testing go-language-server/protocol and marshal of  [ InitializedParams](https://pkg.go.dev/golang.org/x/tools/internal/lsp/protocol#InnerInitializeParams) failed with the panic.
Interestingly, it only fails only when I filled other float64 fields and struct emb

[2021-02-24 07:58] itchyny commented on #139
Just curiosity, does anyone know which change in Go compiler (between 1.15 and 1.16) is related to this memory consumption increase? Or was it gradual increase due to continuous optimizations?

[2021-02-24 08:31] goccy commented on #139
@itchyny
From my point of view, I think that similar problems occurred not only in Go 1.15 and 1.16 but also in 1.13 and 1.14.
I have encountered and fixed similar issues before during the development of this project.

FYI: https://github.com/goccy/go-json/runs/1677217785?check_suite_focus=true

[2021-02-24 08:40] itchyny commented on #139
@goccy Thank you.

[2021-02-25 00:48] lestrrat opened #145 "race detected on v0.4.7"
I have not really looked deep into it, but my most recent test showed the following. Please let me know if you need more info

[code]

[2021-02-28 06:58] albertnanda commented on #142
@goccy I am unable to share the real data, the dummy data doesn't induce a crash. I will try to reproduce the same and let  you know. However, here is something that might pique your interest. This is a comparison of python vs go json decoding performance..
To generate the json please run the following code:
[code]
Now, here is a comparison between python, go(encoding json), go(goccy)
Code:
[code]

[2021-03-10 08:37] knadh opened #147 "Panic when using a custom type with MarshalJSON() + `omitempty` + specific order of fields in a struct"
The panic happens when:
- There's a custom type with a MarshalJSON + there's an `omitempty` in the field + the field (`Field2`) has a value

The panic does not happen when:
- `Field2` is empty.
- The order of `Field1` and `Field2` in the struct definition are interchanged (!)

[code]

[code]

[2021-03-11 09:36] goccy commented on #147
Thank you for the reporting.
Currently, I will try to fix any encoder's bug with https://github.com/goccy/go-json/pull/146 .
This issue will fix by that PR  .

[2021-03-11 17:19] goccy commented on #104
I fixed this issue with https://github.com/goccy/go-json/pull/148

[2021-03-11 17:19] #104 closed

[2021-03-11 17:19] goccy commented on #118
I fixed this issue with https://github.com/goccy/go-json/pull/148

[2021-03-11 17:19] #118 closed

[2021-03-11 17:20] goccy commented on #144
I fixed this issue with https://github.com/goccy/go-json/pull/148

[2021-03-11 17:20] #144 closed

[2021-03-11 17:20] goccy commented on #147
I fixed this issue with https://github.com/goccy/go-json/pull/148

[2021-03-11 17:20] #147 closed

[2021-03-12 15:31] sujit-baniya commented on #104
@goccy Still have this issue with new update:

[code]

[2021-03-12 16:07] sujit-baniya opened #149 "[FOLLOW UP] - https://github.com/goccy/go-json/issues/104"
https://github.com/goccy/go-json/issues/104

I'm still getting same issue on same place

[code]

[2021-03-13 02:30] goccy commented on #149
Could you tell me installed go-json's version ?

[2021-03-13 02:50] sujit-baniya commented on #149
@goccy github.com/goccy/go-json v0.4.7

[2021-03-13 02:55] goccy commented on #149
@sujit-baniya Since I don't release a new version, I expect to you use master branch's HEAD ( by `go get github.com/goccy/go-json@master` )

[2021-03-13 03:41] sujit-baniya commented on #149
@goccy Ok Let me try. When are you planning for release?

[2021-03-13 04:10] goccy commented on #149
@sujit-baniya I plan to further improve the memory usage at compile time and the stability of the encoder, and release it within a week.

[2021-03-14 03:49] sujit-baniya commented on #149
@goccy  That seems to make it work.

[2021-03-14 14:59] sujit-baniya commented on #149
@goccy Now I'm facing more serious issue

[code]

[2021-03-14 16:33] goccy commented on #149
@sujit-baniya Thank you for your report.
If possible, could you please tell me the type information of the argument you passed when calling `json.Marshal` with` github.com/gofiber/fiber/v2.(*Ctx).JSON` ?
I think it contains the `map` type.

[2021-03-15 02:01] sujit-baniya commented on #149
@goccy Yes it's map type

[2021-03-15 03:01] goccy commented on #149
@sujit-baniya
I know it contains a map type, but I want to know the specific type e.g.) `map[string]interface{}` .
Because many tests using map type has passed ( these tests ( https://github.com/goccy/go-json/blob/master/encode_test.go#L319-L328 or https://github.com/goccy/go-json/blob/master/cover_map_test.go ) ) .

[2021-03-15 03:25] sujit-baniya commented on #149
Ah @goccy it's

[code]

[2021-03-15 04:31] goccy commented on #149
@sujit-baniya Thank you for the type information . I fixed the issue with https://github.com/goccy/go-json/pull/150

[2021-03-15 06:25] sujit-baniya commented on #149
@goccy I'll try it out... One thing I noticed, in your test cases, you have used `map[string]int`

The map can be different. For e.g.

`map[string]string` map[string]struct` `map[string]map[...]`

[2021-03-18 03:00] elvizlai opened #151 "generated go struct wrapped to slice cause panic"
proto file
[code]

go code
[code]

This panic on both v0.4.7 or master branch
https://github.com/goccy/go-json/blob/7c0a0560647614f85336cd2daac495f719becb7a/encode_vm_escaped.go#L166

[2021-03-18 12:38] goccy commented on #151
I tried to reproduce this issue, but I couldn't.
Please try again on the latest master branch or write the source code to reproduce in the Go playground and share the URL.

[2021-03-18 13:13] elvizlai commented on #151
@goccy Please try this: https://github.com/elvizlai/gjson-test-case

[2021-03-18 15:03] goccy commented on #151
Thank you for the preparation of example project .
I could reproduce this problem, and fixed with #153 !

[2021-03-18 15:37] #151 closed

[2021-03-20 08:37] sujit-baniya commented on #149
@goccy Still there are other issues with latest master.

[code]

[2021-03-20 09:42] goccy commented on #149
@sujit-baniya Thank you, I fixed it with https://github.com/goccy/go-json/pull/156 .

[2021-03-20 11:58] goccy commented on #142
This issue title is `program crashed` but couldn't reproduce it .
So I closed this issue. If you want to report performance issue, please let me know by the another issue .

[2021-03-20 11:58] #142 closed

[2021-03-20 19:10] goccy commented on #149
I released [v0.4.8](https://github.com/goccy/go-json/releases/tag/v0.4.8) !
Please checked it out !

[2021-03-26 17:14] dynamix commented on #149
I have been running into the same `encoder (escaped): opcode StructFieldPtrHeadOmitEmptySlice has not been implemented`. After updating to v0.4.8 (I tried the current head as well) I'm seeing random crashes or a hanging process that just keeps allocating memory while running our project's test suite.

It hangs in  `encoder.AppendEscapedString`

[code]

Adding some debug logging shows that the code

[2021-03-27 03:36] goccy commented on #149
@dynamix

Thank you for your report. However, I cannot debug with the information I received, so I created an option to output debug information. Can you paste the debug information output using `json.MarshalWithOption(v, json.Debug())` as shown that ? Also, in that case, I want to isolate the problem, so create it as a new issue.

https://github.com/goccy/go-json/pull/165

[2021-03-28 14:00] dynamix opened #166 "Pointer corruption during decoding"
While testing goccy/go-json (v0.4.8) as easyjson replacement with a larger project, tests in our test suite would fail unpredictably. Goccy/go-json was used only for unmarshaling. It looks like pointers get mixed up / corrupted sometimes, resulting in either invalid data, panics or errors when the GC detects pointers to released memory.

For one case I managed to write a test to reproduce the beha

[2021-03-28 14:40] dynamix commented on #149
@goccy understandable, I wanted to provide more information did not have the time to debug it in detail. The debug option sounds great - I'll do a run with it later today.

[2021-03-28 18:11] #166 closed

[2021-03-28 18:13] goccy commented on #166
Thank you for the great report !!! I fixed this issue with #167 .

[2021-03-29 15:17] dynamix commented on #149
Using the current master and running the test with the debug output yielded:

[code]

[2021-03-30 10:41] goccy commented on #149
@dynamix

Please create a new issue for the reported problem.
Since I fixed this with https://github.com/goccy/go-json/pull/168, I would like to refer to a new issue .

[2021-03-31 20:21] silverwind opened #169 "Panic at internal/encoder/vm_escaped/util.go:33"
While [trying to migrate](https://github.com/go-gitea/gitea/pull/14914) to `go-json`, we are seeing a crash in the encoder. The same encoding works fine using `encoding/json` and `json-iterator/go`.

I don't have the details on what exact struct causes the crash yet, but by the off-chance that you can already see the issue from the stack trace alone, I'm posting it here. Origin of the encoder call

[2021-04-01 02:45] goccy commented on #169
@silverwind
Thank you for the reporting. I would like to resolve this problem as soon as possible, but please share more information to debug. The debug information is provided `json.Debug()` option.

[code]

If `panic` occurred, `go-json` produces debug information to the console ( related issue: https://github.com/goccy/go-json/issues/149#issuecomment-809466495 )

[2021-04-01 05:24] fufuok opened #170 "json: cannot unmarshal object into Go value of type *net.IPNet"
[code]

[2021-04-01 07:20] silverwind commented on #169
Okay, I will try to get the data that causes it.

[2021-04-01 08:29] goccy commented on #170
Thank you for your report. I found that this problem was caused by the difference of design between `go-json` and `encoding/json` .  `map[*net.IPNet]struct{}` is actually an invalid type, but `go-json` will check in advance regardless of the data to be decoded, so an error will occur. Since `encoding/json` dynamically type-checks when evaluating data, no error will occur if there is no data corres

[2021-04-01 09:06] zzjin opened #171 "Decode use more time and mem on large json"
When decode one large json bytes, go-json use more time and more mem than origin golang's json package.

testcode:
[code]
test large json file: [1.json.zip](https://github.com/goccy/go-json/files/6242349/1.zip)

on my machine:
* origin json: `279.6247ms 64.1Mb`
* go-json: `362.6054ms 211.1Mb`
* jsoniter: `171.8712ms 64.2Mb`

[2021-04-01 09:48] goccy commented on #171
@zzjin
I added benchmark code and testing it. But I got different result . ( `bench.json` is same as content of `1.json.zip` )

[code]

[code]

code: https://github.com/goccy/go-json/blob/feature/bench-171/benchmarks/decode_large_test.go

[2021-04-01 10:09] zzjin commented on #171
@goccy hi, thx for quick response.
But your bench shows 0 allocs which means `jobj` is inline optimized because go compiler found it is not used anymore.

try this Bench:
[code]

[code]

[2021-04-01 10:23] fufuok commented on #170
Thank you. I see.

[2021-04-01 10:23] #170 closed

[2021-04-01 10:48] goccy commented on #171
Is it okay to close this issue as the benchmark results you posted show that go-json is faster?

[2021-04-01 11:04] zzjin commented on #171
but use 10x more memory. Anything wrong with this bench?

[2021-04-01 21:18] silverwind commented on #169
Some debug output from a [build](https://drone.gitea.io/go-gitea/gitea/37825/3/5):

[code]

[2021-04-02 05:09] goccy commented on #169
@silverwind Thank you for the detailed information to debug . I fixed this issue with #172 !

[2021-04-02 05:21] #169 closed

[2021-04-02 09:25] goccy commented on #149
I think that the issue reported here has already been resolved, so I'll close it. If you have any problems, please create a new issue.

[2021-04-02 09:25] #149 closed

[2021-04-02 10:27] goccy commented on #171
Thanks, I resolved this with https://github.com/goccy/go-json/pull/173 .
My benchmark results the following:

[code]

[2021-04-02 11:46] #171 closed

[2021-04-02 11:50] zzjin commented on #171
@goccy thank a lot.
master branch test bench shows it works perfect.
[code]

[2021-04-03 04:25] aaron42net opened #174 "Add go-fuzz support?"
I tried to use `go-json` with large codebase that's currently using `segmentio/encoding/json` and found that a number of tests failed based on what appeared to be subtle bugs in input handling. This suggests that `go-json` has not been subjected to [fuzzing](https://en.wikipedia.org/wiki/Fuzzing) to shake out input-handling bugs and therefore might not be safe to handle untrusted input.  Looking t

[2021-04-03 11:21] aaron42net opened #175 "Unexpectedly long integers lead to panic in Unmarshal."
When given unexpectedly long integers, go-json v0.4.11's Unmarshal() panics with "panic: runtime error: index out of range".

Reproduce with:
[code]

Depending on which input you use, that panics at either `decode_int.go:54` or `decode_uint.go:45` because `pow10i64` or pow10u64 only have 19 or 20 values respectively.  There's a missing length check here; the integer should be rejected if it is too

[2021-04-03 11:25] goccy commented on #174
I was just thinking of running a fuzzing test to ensure that I got the same output as encoding/json.
I have no intention of changing the license from MIT.

[2021-04-03 11:27] goccy commented on #175
Thanks ! I will fix it

[2021-04-03 11:32] aaron42net commented on #174
segmentio is also MIT, and they've confined the go-fuzz code to a subdirectory, left the original copyright in place and put its separate LICENSE in that subdirectory.  This seems to be the established pattern for importing third-party code into an open source project while not making any claims to its copyright or attempting to change its license.  I don't know if you'd be comfortable doing simil

[2021-04-03 16:08] aaron42net commented on #125
A similar bug in the same function can be triggered by marshaling a raw.Message:

[code]

Which produces:
[code]

[2021-04-05 03:46] EvansJahja opened #176 "The following unmarshall produces no error, which differs from "encoding/json""
[code]
produces no error

[2021-04-05 04:23] EvansJahja commented on #176
update:
[code]
would result in a->4. In encoding/json, this results the error: "invalid character '{' after top-level value"

[2021-04-08 06:14] goccy opened #178 "Ideas for unique features"
This issue is to summarize go-json's unique features that we plan to implement in the future.

# Features

## `context.Context` support for `Marshaler` and `Unmarshaler`

I plan to provide the two APIs follows:

-  `json.MarshalContext(context.Context, interface{}, ...json.EncodeOption) ([]byte, error)`
- `json.UnmarshalContext(context.Context, []byte, interface{}, ...json.DecodeOption) error`

Th

[2021-04-08 14:46] Kiraub opened #179 "go-json Marshal ignores omitempty struct tag"
**go version**: `go1.16.3 windows/amd64`
**go-json version**: `github.com/goccy/go-json v0.4.11`

**What happened?**

While searching for the cause of an indentation conflict between the standard module and this one, i came across this behaviour that `go-json` will ignore the `json:",omitempty"` struct tag when calling `Marshal()`. It will instead give the field a default zero-value.

**How to rep

[2021-04-08 15:53] Kiraub opened #180 "go-json MarshalIndent adds unexpected indentation for empty arrays"
**go version**: `go1.16.3 windows/amd64`
**go-json version**: `github.com/goccy/go-json v0.4.11`

**What happened?**

When using `MarshalIndent(some, "", "\t")` the output has to much indentation when the value is an empty array `[]`.

**How to reproduce**

Execute the following test with `go-json` imported as `json` and `encoding/json` imported as `jsonStd`:

[code]

Output:

[code]

[2021-04-10 06:28] goccy commented on #180
@Kiraub Thank you for the great reporting ! I fixed this issue with #181

[2021-04-10 06:36] #180 closed

[2021-04-10 07:32] goccy commented on #179
@Kiraub Thank you for the great reporting ! I fixed this issue with #183

[2021-04-10 07:48] #179 closed

[2021-04-10 09:52] goccy commented on #176
Thank you for the reporting ! I fixed this issue with #184

[2021-04-10 10:23] #176 closed

[2021-04-11 06:54] #175 closed

[2021-04-11 07:31] goccy commented on #174
I added documentation for fuzzing to the README.md ( FYI: https://github.com/goccy/go-json/blob/master/README.md#fuzzing ) . Please see it.

The implementation for fuzzing has separated the repositories. You can find it [here](https://github.com/goccy/go-json-fuzz).

[2021-04-11 08:21] fufuok commented on #170
Thanks for the great library, which has been used in production.

Hope to be repaired and 100% compatible. Thanks!

[2021-04-11 08:59] goccy commented on #170
Wow, Thank you for using !

[2021-04-11 18:48] IncSW opened #186 "Marshal ignores omitempty struct tag on custom type"
**go**: go1.16 windows/amd64
**go-json**: master (v0.4.12-0.20210411072911-c74c2078ead8)

[code]

[2021-04-14 17:31] #174 closed

[2021-04-14 18:19] #186 closed

[2021-04-15 11:15] goccy commented on #145
Sorry for the late reply.
I couldn't reproduce it my environment, so I think it was fixed somewhere in the release up to v0.4.12 ( latest ).
Please let me know if you encounter similar problems.

[2021-04-15 11:15] #145 closed

[2021-04-19 14:21] #125 closed

[2021-04-22 10:26] oz-dev-v0 opened #191 "if have two struct tag options, ignored last tag option."
go version: go1.16.3 linux/amd64
go-json version: github.com/goccy/go-json v0.4.13

## What happened?

if have two struct tag options, ignored last tag option.

[code]

## diff encoding/json

<details>
<summary>test code</summary>

[code]

</details>

<details>
<summary>result</summary>

[code]

</details>

[2021-04-23 06:32] goccy commented on #191
Thank your for the reporting ! I'll try to fix it .

[2021-04-23 13:11] stuartnelson3 opened #192 "Set max size when reading"
I'm attempting to limit the amount of bytes read per call to `decoder.Decode` with a `bufio.NewReaderSize`:

[code]

When I decode json, however, it is decoding the entire line:

[code]
Is there any way to enforce this within the library, so that if if a line of JSON is too long, the decoder will error out and move on to the next line?

[2021-04-28 15:36] jxskiss opened #194 "Propose: use an fast int-int map to cache type information"
Hi, this json package is awesome, the performance is very impressive.
I saw the idea of "Dispatch by typeptr from map to slice" is limited by the type slice size and I got an idea to help this.

Some time ago, I discovered a very fast int key to int value map implemention here: https://github.com/brentp/intintmap/.
From my recent benchmark, it shows that a further optimized copy-on-write version o

[2021-04-29 02:39] goccy commented on #194
Thank you for the reporting !
interesting. However, in terms of speed, slice approach is faster, so we should consider switching the implementation of the fallback destination. I would like to see the benchmark results when using `intintmap` .

[2021-04-29 02:53] goccy commented on #192
As with encoding/json, the Decode API doesn't finish until the value to be decoded is read.
So even if the unit to read is small, the buffer will increase.
Perhaps in this case it is better to use the Token API.

[2021-04-29 04:23] jxskiss commented on #194
I will draft a change to check the benchmark result ~

[2021-04-29 10:15] zimmski opened #195 "Multiple "Unmarshal" calls on the same data slice lead to corrupted data that cannot be unmarshaled"
We (@symflower) are currently in the process of migrating to a faster JSON package than "encoding/json" and this project seems to be a good replacement. However, before we can benchmark any further we need to get rid of (hopefully only) this bug.

This reproducer works with "encoding/json" but not with "github.com/goccy/go-json". I tried to minimize the problem down to how we handle dynamic types

[2021-04-29 10:53] DasSkelett opened #196 "Bug in nullBytes(), trueBytes() and falseBytes() overwriting unparsed buffer space"
Discovered while trying to debug the cause for huge memory consumption by go-json, more on that in a separate issue.

## Problem
At the beginning of `nullBytes()`, `trueBytes()` and `falseBytes()`, the code checks whether the buffer has still enough data in it left to read the whole token (`null`/`true`/`false`). If not, it tries to read more from the reader:
https://github.com/goccy/go-json/blob/

[2021-04-29 12:17] DasSkelett opened #197 "High memory consumption when reading from "slow" io.Reader"
## Background
I wrote a [Prometheus exporter](https://gitlab.com/DasSkelett/NetKAN-Status-Exporter/) that downloads a medium sized big JSON file (~1.5 MiB) from the web and analyzes its contents to produce some metrics.
It's calling go-json using
[code]
(https://gitlab.com/DasSkelett/NetKAN-Status-Exporter/-/blob/main/collector.go#L285)
where the reader is a `http:Get()` reponse body (https://gitl

[2021-04-29 12:54] goccy commented on #178
# Decoding process using JSONPath

## json.PathString

[code]

`PathString` represents JSONPath.
JSONPath rules are determined based on https://goessner.net/articles/JsonPath ,
We are also considering accepting more flexible expressions. (For example, do not require root `$ .`)

## json.UnmarshalPath

[code]

`json.UnmarshalPath`,` json.UnmarshalPathContext` use `PathString` to provide the ability

[2021-04-29 13:03] goccy commented on #178
# Colorize the JSON string

We recognize that there is a demand for colorize the JSON string, mainly in Logger.
However, when coloring using escape sequences, if you try to do the processing outside the JSON library, you need to hook by `MarshalJSON`, which slows down the speed.

Therefore, if go-json will support colorize the JSON string, which makes it possible to colored JSON string at high spe

[2021-04-29 13:13] zimmski commented on #195
Will take a deeper look now and update this comment as i go.

[2021-04-29 19:17] goccy commented on #196
Thank you for the reporting ! Could you please share reproducible code ?

[2021-04-30 00:04] jxskiss commented on #194
The benchmark result is exciting, it shows that the COW intintmap is as fast as the slice approach.

Here is the code change (but not ready for a PR yet): https://github.com/jxskiss/go-json/commit/75645c1f519e7b9b34610ac6b1511c9ca6f0675b

And the benchmark result:

[code]

I think the performance benefits from the following reasons:
1. the intintmap's underlying storage is a slice, like the curren

[2021-04-30 05:25] jxskiss commented on #194
Well, the previous comment is incorrect, I'll post a new benchark result later soon.

[2021-04-30 06:09] jxskiss commented on #194
Here is an updated benchmark result, it shows that the COW intintmap is almost as fast as the slice approach.
The change is here: https://github.com/jxskiss/go-json/commit/cf4be96602778b2b30d23c5ba66cf67498fb62e2

[code]

I think the performance benefits from the following reasons:
1. the intintmap's underlying storage is a slice, like the current slice approach
2. the hash function is very cheap,

[2021-04-30 14:30] zimmski commented on #195
Had to sidetrack unfortunately because of other problems. I see @goccy is on it. Thanks i will not continue investigating unless you want me to. I am not sure if it is worth learning a complete new code base. However, i tried your PR and i have a segmentation fault. Will try to post a reproducer in the PR. Anyway, thanks for working on this!

[2021-04-30 15:42] zimmski opened #199 ""Valid" does not behave the same way as "encoding/json.Valid" does"
Sorry for the ugly reproducer. I am sure that a JSON delta-debugger could reduce the test case some more.

[code]

[code]

[2021-05-01 10:11] #195 closed

[2021-05-01 10:17] zimmski opened #201 "Using "Unmarshal" to unmarshal a "null" value into an interface type defers from encoding/json behavior"
"encoding/json" unmarshals a "null" value even for interface types, go-json does not behave the same way. This is a bug in our code but since go-json aims to have the same behavior as encoding/json, it seems worthy of implementing. Especially since "null" could be a fast-path in go-json's code?

[code]

Produces (with https://github.com/goccy/go-json/pull/198 and https://github.com/goccy/go-json/p

[2021-05-01 11:20] zimmski commented on #201
Fixed all cases of this on our side now so further reproducers with our code base are not blocked by this issue.

[2021-05-01 11:30] zimmski opened #202 "Update benchmarks in README to newest values and to include "fastjson""
Some commits ago "fastjson" got merged as a new benchmark entry but it never to added to the README of the project.

Since there are continuous improvements and fixes it would also be interesting to see the newest official results.

[2021-05-01 11:55] zimmski opened #203 "Unmarshaling a "null" into a []byte results in an empty slice instead of "nil" (differs from encoding/json)"
The following reproducer shows that unmarshaling of a "null" into a byte slice gives a different result than encoding/json. This was also the case with 4d51b8b (before https://github.com/goccy/go-json/pull/198) and does not change with https://github.com/goccy/go-json/pull/200

[code]

results in

[code]

[2021-05-01 12:12] zimmski commented on #203
This might be one of the last probems in our regular unit tests @symflower. I kind of think that this is related to https://github.com/goccy/go-json/issues/201 because i guess that there should be a fast-path for when the data is "null".

Since it do not know the code that well i will focus on reproducers for now. Let me know if i should take a deeper look though. Will now investigate a failure in

[2021-05-01 12:16] zimmski commented on #203
One of our integration tests went from about ~260seconds to about 210seconds by switching from encoding/json to go-json. Need to further benchmark to get a reliable number but even a 10sec boost is a win on our side. 50seconds would be amazing :-)

[2021-05-01 16:42] zimmski opened #204 "Backslash at the end of map-entry-value string cannot be unmarshaled"
Seems that this was a lucky catch because if you have another character at the end e.g. `{"c":"\\a"}` it works perfectly.

[code]

results in

[code]

[2021-05-01 16:59] zimmski commented on #204
I see some other traces in our integration tests but i fear they are related to the "null" issues i found before. Need to continue with some other work now. @goccy please ping me if I should help in any way. Looking forward to testing go-json on our whole test suite and benchmarks.

[2021-05-01 18:50] #201 closed

[2021-05-02 06:31] jxskiss commented on #194
Here is an updated benchmark result

[code]

[2021-05-02 06:36] jxskiss commented on #194
oops... I have closed the issue by mistake, how can I reopen it ?

[2021-05-02 06:59] #203 closed

[2021-05-02 07:38] goccy commented on #196
I understood your point. I will fix this.

[2021-05-02 07:41] goccy commented on #197
Since the benchmark is only for go-json, could you add encoding/json and compare ?

[2021-05-02 07:41] #204 closed

[2021-05-02 08:32] #196 closed

[2021-05-02 08:32] #199 closed

[2021-05-02 18:05] zimmski commented on #203
@goccy don't know where to post this. I have a successful CI pipeline now with our monorepo. The integration tests where unfortunately not reliable. Improvement ranges in a few seconds. Looks like that we already merged a lot of improvements that migrate away from JSON. However, there are lots of JSON calls left so i added a small benchmark with two typical types of objects so we can track improve

[2021-05-02 18:46] zimmski commented on #203
@goccy please let me know if you need anything else. I think the changes of  the last days are worth issuing a new release. I will then move the changes into testing on our side. Will let you know if some problem turns up.

[2021-05-02 20:05] DasSkelett commented on #196
Sorry, I was busy otherwise, so I didn't have time to prepare some code.
But I can confirm that #208 is looking good, and the test from #199 was exactly how I'd have crafted the JSON,
that is placing a `null` (or `true` or `false`) right around the 1024th char, so that it begins within the initial buffer (which is `2*initBufSize` long, but ends afterwards.

[2021-05-02 20:32] DasSkelett commented on #197
Yup, here's the complete output running both benchmarks. encoding/json completes fine, but GoJson first encounters weird parsing errors, and later panics due to running OOM.
[code]

[2021-05-02 21:28] DasSkelett commented on #197
In theory I imagine something like the following as fix.
It does get rid of the OOM situation, but the benchmarks with a chunksize of <=4k fail all with `expected colon after object key`, which I have yet to find the cause for.
[code]

[2021-05-02 23:27] DasSkelett commented on #197
Okay, I also found the cause for the `expected colon after object key` error.
In `decodeKeyByBitmapUint8Stream()`, `decodeKeyByBitmapUint16Stream()` and maybe many other places, when reaching the end of the buffer data and the `case nul:` triggers, it basically skips a character.
https://github.com/goccy/go-json/blob/ac159966aa3585a6e5791286c06911d95bc2a694/decode_struct.go#L347-L372

Let's assume

[2021-05-03 02:32] goccy commented on #203
Thank you. I'm planning to make a new release today.

[2021-05-03 02:46] goccy commented on #197
Thank you for the detailed information ! I'll fix this .

[2021-05-03 17:42] #197 closed

[2021-05-03 17:42] #192 closed

[2021-05-04 00:33] jxskiss commented on #194
I have send another pull request to enable slice cache for 32x larger type address range as
https://github.com/goccy/go-json/pull/213, which may make this complex optimization unnecessary for almost most of applications 😃

I guess we can pending this PR untill we find that it really worth the complexity.

[2021-05-04 12:59] Gaudeamus opened #214 "Panic when unicode symbols not completely feet to buffer"
Hello, thank you for the good package. I think it is very very promising, however I've found an issue which cause panic during unmarshal
[code]

[2021-05-05 10:22] IncSW commented on #191
This is blocker for me too. `omitempty` + `string` is often case.

[2021-05-05 18:10] #214 closed

[2021-05-06 19:55] Gaudeamus opened #217 "Expected comma after object value"
This json is decoded with an error `expected comma after object value`. But if make it 1 char shorter (u10388850 instead of u103888500) it's parsed ok. Latest master used.
[code]

[2021-05-07 10:52] Vilddjur opened #218 "Pointer fields marked as omitempty may wrongfully be included in decoded structs"
**go**: go1.16 linux/amd64
**go-json**: v0.4.14

[code]

[code]

What I expect to happen:
Both test cases passes.
The first case actual value is a single S struct containing a single A pointer.
The second case actual value is a single S struct containing a single B pointer.

What happens:
First case passes, second fails
The first case actual value is a single S struct containing a single A pointer

[2021-05-07 12:42] goccy commented on #218
Thank you for the reporting ! I fixed this problem with https://github.com/goccy/go-json/pull/219 .

[2021-05-07 12:43] #218 closed

[2021-05-07 14:16] goccy commented on #217
Thank you for the reporting ! I fixed this problem with https://github.com/goccy/go-json/pull/220

[2021-05-08 01:52] #217 closed

[2021-05-08 16:12] #191 closed

[2021-05-11 08:53] Gaudeamus opened #222 "Unicode symbols cause panic"
Unfortunately unicode symbols still cause panic
[code]

[2021-05-11 09:06] #222 closed, assigned to nobody

[2021-05-11 11:07] Gaudeamus opened #223 "Error while parse bytes data longer than 1024 chars"
Request []byte/json.RawMessage - parses with error `illegal base64 data at input byte 0` or `not at beginning of value` depending on input sting.  Although same var with string type is parsed correctly

[code]

[2021-05-12 01:28] jxskiss commented on #178
Seeing the above **"Decode with JSONPath"**,
I have a little question, there seems exist several json libraries solved this problem and some have high performance, so why we need a new one and what difference will it provide?

[2021-05-12 01:32] jxskiss commented on #178
For feature beyond the std lib, I'd like there be some way to disable HTML escaping, for readability of logging messages~
Or a function which provides reasonable settings for logging messages.

[2021-05-12 01:36] jxskiss commented on #178
Another usecase, a custom way may be provided to marshal maps without sorting keys for even better performance. Maps are used so commonly in every application, sometimes map key ordering just don't matter.

[2021-05-12 04:29] goccy commented on #178
@jxskiss

- A1

As far as I know, decoding using JSONPath is required by many users. I think this feature should be in the standard library. Also, there are other JSON libraries that use JSONPath, but I don't think they have sufficient performance.
Finally, implementing JSONPath is easy for me :)

- A2

`encoding/json` and `goccy/go-json` are both has a `SetEscapeHTML(bool)` API in stream encoder

[2021-05-17 10:23] goccy commented on #223
@Gaudeamus Have you tried the same with `encoding/json` ?
I think this is a spec.

[2021-05-19 06:49] susuper opened #228 "Failed to unmarshal while "encoding/json" is working fine"
The following code is working fine with "encoding/json" (msg fields are propagated after unmarshal). Unfortunately the "github.com/goccy/go-json" is unable to unmarshal.

[code]

[Go Playground](https://play.golang.org/p/UMbnYrsRrgR)

Thank you for your work!

[2021-05-19 16:25] goccy commented on #228
Thank you for the great reporting ! ( and Thank you for being a sponsor ! )
Probably, I fixed this issue with #229

[2021-05-20 06:47] #228 closed

[2021-05-20 06:48] goccy commented on #223
@Gaudeamus
If it behaves differently than `encoding/json`, please reopen this issue .

[2021-05-20 06:48] #223 closed

[2021-05-21 19:36] susuper commented on #228
Thank you, it works now.

[2021-06-02 00:19] harshavardhana opened #234 "Cannot unmarshal struct when key is also ASCII escaped"
[code]

### Expected
[code]

### Actual
[code]

[2021-06-02 08:09] sujit-baniya opened #235 "[Bug] - Error on latest release"
I'm getting errors when trying to upgrade to latest version.

[code]

[2021-06-02 08:15] goccy commented on #235
@sujit-baniya
I can't debug with this information only, so could you use `json.Debug()` option to output the debug information ?

[2021-06-02 08:19] sujit-baniya commented on #235
@goccy Where should I put `json.Debug()`

[2021-06-02 09:09] goccy commented on #235
@sujit-baniya
Please use `json.MarshalWithOption` instead of `json.Marshal` and add it to the argument.
If you are using `Encoder` ( streaming ) , please use `EncodeWithOption` as well .

[2021-06-02 09:17] sujit-baniya commented on #235
@goccy  I'm added code to replicate the issue

[2021-06-02 10:08] goccy commented on #235
Thank you for the more detail information. I will fix this issue with #236

[2021-06-02 10:09] goccy commented on #234
@harshavardhana Thank you for the reporting ! I will fix this issue with https://github.com/goccy/go-json/pull/237

[2021-06-02 10:18] #235 closed

[2021-06-02 10:22] goccy commented on #235
@sujit-baniya I released `v0.6.1` for fixing this issue . Please try it 🙏

[2021-06-03 06:18] #234 closed

[2021-06-04 11:43] sujit-baniya opened #239 "[Bug] - Seems to have bug on unmarshal"
Issue: Unable to unmarshal json if one of the field data type is different from actual data.

Code:

[code]
For e.g. ReadTimeout is `time.Duration` and passed string `"20"`. Data is not unmarshalled to struct as intended

[2021-06-04 11:45] sujit-baniya commented on #239
![image](https://user-images.githubusercontent.com/4959215/120796412-83915380-c55a-11eb-9fa2-1dc628362210.png)

[2021-06-04 12:12] goccy commented on #239
@sujit-baniya
You are wrong. This input data cannot be decoded properly . ( See https://play.golang.org/p/KlxUiTwOKKD )

[2021-06-04 12:17] goccy commented on #239
Also, please correct this issue's title as it gives unnecessary misunderstandings .

[2021-06-04 12:36] sujit-baniya commented on #239
@goccy yes with panic it can't be decoded... but if the error is skipped then I suppose `go-json` and `encoding/json` works in identical manner, isn't it?

[2021-06-04 12:53] goccy commented on #239
`encoding/json` does not guarantee the result when an error occurs during Unmarshal.
 In other words, it is not a specification, so it should be considered separately from the compatibility story.

[2021-06-04 13:00] sujit-baniya commented on #239
Got it! Thanks @goccy

[2021-06-04 13:00] #239 closed

[2021-06-04 16:43] jxskiss opened #240 "Can the test files be moved to seperate directory"
There are many test files, which makes it slightly unfriendly to read code, can we move the test files to a seperate directory?

(ps: you are so creative, so many changes in a short time ...)

[2021-06-04 16:58] goccy commented on #240
Thank you for the reporting.
Thinking about the same thing, I was thinking of moving the movable test code to a subdirectory.
I'm going to support soon :)

Thanks

[2021-06-05 16:05] jxskiss opened #241 "Different behavior with encoding/json"
Reproducible code:

[code]

Output:

[code]

[2021-06-06 10:45] #240 closed

[2021-06-06 14:06] #241 closed

[2021-06-08 10:15] IncSW opened #245 "MarshalNoEscape works incorrectly"
`MarshalNoEscape` has escape html option
[code]

[2021-06-08 10:59] goccy commented on #245
Sorry for the misunderstanding, `json.MarshalNoEscape` does not mean not to do HTML Escape.
This is an API that means don't allocate the argument value to the heap.

[2021-06-08 12:22] #245 closed

[2021-06-12 01:22] cwbriscoe opened #247 "MarshalIndent very slow and ends up getting killed by OS on large files or when benchmarking"
MarshalIndent will crash when benchmarking or writing larger output (~300kb).

go stdlib:
[code]

goccy/go-json:
[code]

MarshalIndent is very slow compared to the go stdlib.  test.go and input data attached below.

go stdlib:
[code]

goccy/go-json:
[code]

Test Code:
[code]

Test File:
[code]

[2021-06-12 04:38] goccy commented on #247
There is no API called UnmarshalIndent in my library. Also, write the benchmark code directly here, not in a zip file.

[2021-06-12 05:38] cwbriscoe commented on #247
Sorry, I meant MarshalIndent.  I pasted in the test code and the input file.

[2021-06-12 13:49] goccy commented on #247
OK, I fixed this issue with #249

[2021-06-12 13:51] #247 closed

[2021-06-12 14:49] jxskiss commented on #178
@goccy Great you have done the context support feature!
Small questions about naming:
1. the `MarshalerContext` and `UnmarshalerContext` sounds like something more related to a "Context" but not Marahsler/Unmarshaler, would it be a litte better for something like "ContextAwareMarshaler" and "ContextAwareUnmarshaler"?
2. the methods of the interface use same names with `json.Marshaler` and `json.Un

[2021-06-12 15:52] goccy commented on #178
@jxskiss

It's difficult to name, but I chose a simpler name ( just added Context to Marshaler / Unmarshaler ).

This is because there is no merit to coexist with and without context.Context.
I decided that the same method name would be better so that I wouldn't be confused as to which one would be called.

[2021-06-15 15:18] IncSW opened #251 "Error when unmarshal empty array"
[code]

[2021-06-15 15:20] dolfelt opened #252 "RegisterTypeEncoder Support"
We are currently using `jsoniter` because it allows us to register custom encoders for things like `time.Time` without having to implement custom types in all our structs across all our apps.

Is something like this possible with `go-json`? And if not, could this be considered as a feature?

Thanks!

[2021-06-16 07:11] goccy commented on #252
@dolfelt
Thank you for your report. Right !
As you said, there may be a demand to override the behavior of Marshal and Unmarshal without defining a new type for types that are not implemented by owns app, such as the types defined in the 3rd party library and standard library.
Currently, go-json doesn't have the same functionality, but I would like to support it !
Thanks

[2021-06-17 16:14] goccy commented on #251
This issue fixed with #253 and it released as v0.7.1

[2021-06-17 16:14] #251 closed

[2021-06-23 09:51] Kiraub opened #255 "Unmarshal into struct with field of type func differs from encoding/json"
**Versions:**
go version go1.16.5 windows/amd64
github.com/goccy/go-json v0.7.1

**What did I try to do:**

Use `Unmarshal` to decode a JSON string into a struct that has a field of type func.

**What did I expect:**

Analog to `encoding/json` the field of type func receives the null value (`nil`) if the field is not found in the JSON object.

If the field is found and has value other than `null`

[2021-06-23 09:57] Kiraub commented on #255
The error is generated inside `internal/decoder/compile.go#compile` since the switch statement does not handle fields of type `reflect.Func`

[2021-06-24 07:06] Kiraub commented on #255
Fixed with #257

[2021-06-24 07:06] #255 closed

[2021-06-28 23:02] preethamrn opened #261 "Marshaling map[string]interface{} values containing a pointer results in incorrect output"
Sample test:
[code]

[code]

[2021-06-28 23:13] preethamrn commented on #261
I was able to isolate the bug to this commit (994dc9ea9d57705f375065bbed394194d619907c) using git bisect.

[2021-06-29 02:38] goccy commented on #261
Thank you for your great report. I will fix this issue with #262

[2021-06-29 02:51] #261 closed

[2021-06-29 02:55] goccy commented on #261
I released this fix as v0.7.3 ! Thank you !!

[2021-07-05 09:51] Thearas opened #263 "signal SIGSEGV: segmentation violation code=0x2 addr=0x7068616c2d20736c pc=0x100fb145c"
Panic on `json.Marshal()`:
[code]

## Env

`go version go1.16.5 darwin/arm64`

## Step to reproduce

Just run the code:
[code]

[2021-07-05 12:57] #263 closed

[2021-07-21 14:10] socket515 opened #266 "Failed to umarshal type []byte"
go version: go1.16
example:

[code]
 std json libary can work, go-json return error

[2021-07-21 14:11] socket515 commented on #266
Java base64 encode maybe has '\n'

[2021-07-24 16:44] 6543 opened #268 "nil exeption at internal/decoder/slice.go:65"
https://drone.gitea.io/go-gitea/gitea/42335/2/15

[code]

[2021-07-29 05:24] opalzenith opened #269 "Question regarding NoEscape reliability"
Do you know the current status of this compiler bug as of Go 1.17, or what data sizes are likely to be affected by the bug? In general, how reliable do you think `MarshalNoEscape` and `UnmarshalNoEscape` should be for JSON string or Go value sizes that are, say, under 8 KB? Or is it unpredictable and super variable depending on the system/application?

Thanks.

[2021-07-31 10:36] IncSW commented on #268
@6543 Can you tell which version of go was used and is it possible to write a test case?

[2021-08-11 19:09] 6543 commented on #268
https://github.com/go-gitea/gitea/pull/14914

[2021-08-11 19:41] zeripath opened #270 "Goccy marshal of child struct missing label"
Hi!

Thanks for all your work on this project.

I've noticed a problem with the Marshal'ing of extended structs. Say we have the following code:

[code]

Goccy will emit:

[code]

when it should emit:

[code]

[2021-08-12 01:20] jhwz opened #271 "Marshal with case preference"
Would it be possible to create an option for the encoder to be able to specify the case style the struct fields are marshalled with?

For example, if we have

[code]

the output will be

[code]

but if we could specify an option to convert to say camelcase (even something as simple as lowercase the first letter)  to get

[code]

it would be much nicer than manually specifying json tags! Not sure h

[2021-08-12 04:09] goccy commented on #270
Thank you for the reporting ! This issue will fix with https://github.com/goccy/go-json/pull/272

[2021-08-12 04:23] #270 closed

[2021-08-12 05:42] #266 closed

[2021-08-12 05:43] goccy commented on #266
Thank you for the reporting ! I fixed this issue with #273

[2021-08-12 06:56] zeripath commented on #270
Thanks!

[2021-08-12 07:03] goccy commented on #268
@6543
I cloned github.com/zeripath/gitea and tried to reproduce this issue in the go-json branch,
but I didn't know how to test it. Could you tell me the specific procedure to reproduce this issue ?

[2021-08-12 11:10] zeripath opened #274 "Goccy returns different error messages on unmarshal than standard json"
Goccy returns different error messages on unmarshal than standard json:

[code]

This returns:

[code]

This makes goccy json not a complete drop in replacement.

[2021-08-12 12:32] goccy commented on #274
The goal is to return the same error type as encoding/json, but since the error content itself does not exist in the specification, it is a difficult problem to make an exact match. (If you are writing a test that depends on error messages, it may not work with `encoding/json` 's version upgrade )

[2021-08-12 13:14] silverwind commented on #274
So one could test if the error is `json.SyntaxError`, right?

Thought I tend to agree that a module that is advertized as drop-in replacement should also match the error strings, or at least include a not notice in documentation that error strings may not exactly match.

[2021-08-12 13:31] goccy commented on #274
The spec range issue is difficult, but I don't think it's generally important that the error strings match exactly. ( because Go has a way to compare with `errors.Is` and `errors.As` ).

Or, if you want to know more information about `error`, you can use type assertion as commented .

[2021-08-12 14:45] silverwind commented on #274
Yeah I guess error messages are kind of a grey zone in regards to APIs and `encoding/json` probably also does not guarantee stability, but it would be nice to try to replicate them where possible.

This `invalid character 'i' looking for beginning of value` error from `encodings/json` above also seems more helpful than `not at beginning of value` emitted by this module.

[2021-08-12 15:55] zeripath commented on #274
So the reason why this is failing for us is also because jsoniter is actually returning a different error and we're using that error string in our test(!)

[2021-08-12 16:02] zeripath opened #275 "Random seg fault on Unmarshal"
Hi!

This is quite a strange one... I've not completely minimized the testcase yet but it's possible to get a segfault when unmarshalling into a non empty struct slice.

[goccytest-smaller.go.txt](https://github.com/goccy/go-json/files/6976849/goccytest-smaller.go.txt)

The attached file unmarshals three strings on to an array, the third time causes a segfault. All three must be present to cause t

[2021-08-12 16:19] goccy commented on #274
I agree. I think so, too. So I will try to make this error the same as encoding/json as much as possible. In the future as well, I may correct the error message for the purpose of producing a better error message, but I can't guarantee that the same message will be produced at all error points.

[2021-08-12 17:41] zeripath commented on #268
this is #275

[2021-08-13 06:57] goccy commented on #275
I fixed this issue with #276 🎉

[2021-08-13 07:07] zeripath commented on #275
Great!

Our automated tests now pass on go-json. I think we need to do a bit more non automated testing and maybe add some different error handling though but genuinely it's looking good.

[2021-08-13 07:27] #275 closed

[2021-08-13 08:29] #274 closed

[2021-08-17 14:01] UUNNII opened #278 "Panic when decoding json string"
Hi!
When I was trying to decode a json string into an interface, I got a panic.
Seems it happened when unescaping Unicode characters.
Here is an example:
[code]
Output:
[code]

[2021-08-25 04:10] #278 closed

[2021-08-27 15:54] mewmew opened #281 "marshal of interface leads memory corruption; "runtime: name offset out of range""
First off, thanks for working on goccy/go-json! It is really an incredible library for improving the performance of the standard library JSON package.

After some extensive use, I ran into an issue which resulted in a runtime panic. Preferably, this would lead to an error, e.g. "unable to marshal interface type Foo" or something.

Reproducible test case for goccy/go-json@v0.7.7.

Running the progr

[2021-08-28 21:20] miktwon opened #282 "mapassign_faststr: panic: runtime error: invalid memory address or nil pointer dereference"
Hey. GLHF ^_^

`go version go1.17 linux/amd64`

My case:
[code]

Out:
[code]

[2021-08-30 02:44] goccy commented on #282
Thank you for the reporting ! I will fix this bug with https://github.com/goccy/go-json/pull/283 .
But still I don't understand root cause ... I will more investigate this .

[2021-08-30 03:07] goccy commented on #281
Thank you for the reporting ! I investigated this bug and I understood root cause .
I will fix this issue as soon as possible !

[2021-08-30 05:02] #281 closed

[2021-08-30 07:03] mewmew commented on #281
@goccy thanks for investigating and finding the root cause! It is an impressive achievement to reach the performance improvement that `go-json` delivers while keeping the API compatible with `encoding/json`.

Wish you all the best and happy coding!

Cheers,
Robin

[2021-08-30 07:44] goccy commented on #281
@mewmew
Thank you ! :)
I resolved this bug with #284 and I will release this fixing as v0.7.8 .

[2021-08-31 04:03] #282 closed

[2021-08-31 06:38] Songmu opened #285 "Panic when putting a struct in the array of interface{}"
The following code will make it panic. I have checked with the latest version of go-json. https://github.com/goccy/go-json/commit/4f058093a3a17ae9a68e01f0e20142267b1d0a1f

[code]

[code]

The standard encoding/json produces the following output.

[code]

[2021-09-01 02:50] goccy commented on #285
Thank you for the reporting ! I fixed this problem with https://github.com/goccy/go-json/pull/286

[2021-09-01 02:57] #285 closed

[2021-09-01 03:25] Songmu commented on #285
Great quick response. Thank you!

[2021-09-06 02:56] tfzxyinhao opened #289 "compile error"
`go build github.com/goccy/go-json/internal/encoder/vm: /usr/local/go/pkg/tool/linux_amd64/compile: signal: killed`
similar to https://github.com/goccy/go-json/issues/139
go-json version v0.7.8
does anyone knows to solive this compile error

my go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/root/.cache/go-build"
GOENV="/root/.config/go/env"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd64"
GOHOSTOS=

[2021-09-06 03:17] goccy commented on #289
This error depends on the amount of memory resources in your build environment.
If it is about 1GB, the error will not appear.

[2021-09-06 10:58] #289 closed

[2021-09-20 16:42] sujit-baniya opened #290 "[Bug] - Nil pointer exception"
[code]

[2021-09-21 03:44] goccy commented on #290
I cannot investigate from this information. Could you share me the reproduction code ?

[2021-09-21 07:52] sujit-baniya commented on #290
The application is huge... don't know where the error is coming from. Thus I can't create reproducible code. Replacing with standard json package, it worked

[2021-09-21 15:09] orisano commented on #290
This is the reproducible test code.
[code]

[2021-09-25 04:10] sujit-baniya commented on #290
Any expected update @goccy

[2021-09-25 16:09] zimmski commented on #290
We just ran into this. Here is my reproducer which looks similar to what @orisano reported. What i find interesting is that an empty interface declaration does not trigger the problem: You need an interface with a method.

[code]

[code]

@goccy hope that helps!

[2021-09-27 11:30] #290 closed

[2021-09-28 22:25] 89z opened #292 "Non strict mode"
I am trying to parse JSON from some input like this:

[code]

Where the output would be:

[code]

is something like that possible? Similar to `Strict = false` with XML:

https://godocs.io/encoding/xml#Decoder.Strict

[2021-10-02 16:36] #292 closed

[2021-10-07 08:56] philband opened #293 "Panic on encoding struct in a loop"
I am currently experiencing a panic when encoding a struct during some JSON-testdata generation.
The testdata in this case is a repetition of the same struct being encoded 50k times.
The first 3-5k encodings work, after that I always get a panic.
Encoding with stdlib `encoding/json` works without a problem.
If you need any additional information to debug this I am happy to assist.

[code]

## The

[2021-10-07 10:57] goccy commented on #293
Thank you for the reporting !

Looking at the stacktrace, it looks like you have the `Debug` option enabled.
I'd like to investigate this problem, but it seems difficult to deal with from this information, so could you show me something close to the code you were actually executing ?

[2021-10-10 07:31] philband commented on #293
I think I finally have a clue to what is happening here:

https://github.com/goccy/go-json/blob/d1195dff31fd59a147598c6cd2315b72e070188f/internal/encoder/vm/vm.go#L4360
The above line is trying to create a ptr to an `uint64`, however, my underlying datatype is only an `int32` or `uint32`.
Therefore, in some cases near the edges of the buffers, the pointer might point half to the `int32`, whilst th

[2021-10-11 03:48] goccy commented on #293
That makes sense. Thank you for providing the information !
When encoding integer, go-json converts pointer to uint64 and then masks it to convert it to a value such as int32.
Therefore, depending on the state of memory, it seems that an error occurs when converting from pointer to uint64.

[2021-10-14 06:28] goccy commented on #293
@philband
I was probably able to fix this problem with #294 .
Could you please try to test with the feature branch ? ( `go get github.com/goccy/go-json@feature/fix-uint64-conversion` )

[2021-10-14 09:11] philband commented on #293
@goccy I can confirm it is fixed with commit  d7372a47cd1a `github.com/goccy/go-json v0.7.10-0.20211014060028-d7372a47cd1a`

[2021-10-15 10:04] #293 closed, assigned to nobody

[2021-10-18 04:13] shumin1027 opened #295 "Support Custom Name Style"
Support  custom name style, such as `CamelCase` ,`PascalCase`,`SnakeCase`

[2021-10-27 12:12] harjas27 opened #296 "Different behaviour from encoding/json"
When processing a batch of comma-separated json, where one/more are incorrect(error expected):
* `encoding/json`  - gives error for the incorrect ones, processes the rest
* `go-json` - goes into an infinite loop as soon as it is unable to decode an input

sample program:
[code]
* output for `encoding/json` :
[code]
* output for `go-json` : infinite loop

[2021-11-08 13:42] lcd1232 opened #298 "Out of memory error"
I decided to switch from "encoding/json" to this library but now I got an error in CI:
[code]

I'm not sure that problem with low CI machine because it builds successfully using "encoding/json"

[2021-11-11 20:10] skr1n opened #299 "Panic or Invalid JSON when shadowing embedded fields of composite type"
I found several issues when tried to encode a struct with shadowed embedded fields (container struct fields and embedded struct fields have the same json tags).

Issue 1: Invalid JSON when embedded struct has shadowed fields of type map/slice/struct and non shadowed fields.
[code]

Result:
[code]

Issue 2: Panic when embedded struct has only one shadowed field of type map.
[code]

Result:
[code]
I

[2021-11-16 12:21] pzartem commented on #299
@goccy Hi There,  can you point to the place we may fix this issue? I would be happy if I can help and send a PR.

[2021-11-18 02:43] goccy commented on #299
Thank you for the reporting. I got enough information, so I will fix this issue :)

[2021-11-18 02:43] goccy commented on #298
This is duplicated issue .
https://github.com/goccy/go-json/issues/289

Thanks

[2021-11-18 02:43] #298 closed

[2021-11-18 16:49] #299 closed

[2021-11-29 18:11] kakysha opened #303 "Not compatible with encoding/json when using "shadowing" technique for structs"
In my code I rely on an Unmarshalling technique called shadowing, for one specific case: I need to look into outer json field first to be able to parse into correct struct the inner json map, so I do the following:
[code]
As you can see, to parse Message, I delay parsing Message.Payload (using json.RawMessage) by wrapping it into temporary `mm` struct with embedded Message struct and extracted out

[2021-12-04 18:19] efectn opened #304 "panic: runtime error: invalid memory address or nil pointer dereference"
When i try to run code with **goccy/go-json**, i get this error:

[code]

But i can get results with **encoding/json**:
`2021/12/04 21:14:15 {"account":"saltfish","password":"123456","nickname":"user1","hubs":[{"hid":"alpha","name":"hub","size":100}],"friends":[{"account":"saltfish","password":"123456","nickname":"user2"}]}`

Code:
[code]

Relates Issue: https://github.com/gofiber/fiber/issues/162

[2021-12-05 02:42] goccy commented on #304
Thank you for the reporting ! I fixed this issue with #305

[2021-12-05 02:54] #304 closed

[2021-12-05 03:08] goccy commented on #303
Could you provide the complete sample code? For example, the following code seems to work correctly

[code]

[2021-12-05 10:50] kakysha commented on #303
[code]

This code works, but replacing `encoding/json` with go-json panics. In my app it doesn't panic cause of other circumstances but json.RawMessage is nil everywhere.

[2021-12-08 03:04] PhillipHuang2017 opened #306 "Performance degrades for long text with lots of double quotes"
Hi, recently I use go-json with AndroidManifest.xml text as a struct field,  found performance degradation for long text with lots of double quotes. Here is a benchmark.

[code]

result:

[code]

[2021-12-13 04:57] goccy commented on #306
Thank you for your report. In fact, I recently noticed the same problem. The cause of the poor decode performance in the Large data graph in the README at https://github.com/bytedance/sonic seems to be the same problem.
I'm thinking of working on improving this problem in the near future.

[2021-12-16 00:43] Splizard commented on #269
This is a good question, @goccy do you have a link to the bug in question on the Go issue tracker?

[2021-12-16 01:38] helphi commented on #271
For example:

[code]

prefer output:

[code]

the same as `json.UnMarshalSmart`

[2021-12-17 05:58] helphi commented on #271
I did some job for this, <https://github.com/xgomod/json>

[2021-12-24 09:08] watchforstock opened #307 "Concurrent map iteration and write exception"
I'm using the library in an application where multiple go-routines are marshalling JSON (potentially at the same time). Although I've run a number of times successfully, today I got a concurrent map access exception from within the go-json library. Is the library intended to be thread-safe?

The stack trace given was:
[code]

[2021-12-24 09:22] goccy commented on #307
The current implementation doesn't lock when encoding the map.
Therefore, if you refer and encode the same map from multiple goroutines, panic may occur.

Perhaps this will happen with the standard library as well.

[2021-12-24 09:31] watchforstock commented on #307
Thanks for the fast reply. As far as I'm aware I'm not using the data I'm encoding elsewhere while marshalling as each goroutine creates and manages its own data. I will have a check/think about whether there could be concurrent access.

As far as you're aware / expecting, I should be able to concurrently call Marshal on different objects without potential for issues - is that correct?

Thanks

[2021-12-24 09:32] watchforstock commented on #307
As an additional comment, I've never seen this error with the standard library so I either got unlucky (possibly) or it's a difference in the implementations (I've only recently switch to go-json to try to improve performance).

[2021-12-24 09:46] goccy commented on #307
I agree. If uses different map object in all goroutines,  i think that the map object could be encoded without problems.
If you encounter problems in that state, it's likely that there is a problem with go-json, so I'll investigate it.

[2021-12-25 05:32] iredmail opened #308 "Panic with Go 1.18beta1"
Sample code to reproduce the panic. Note: same code works fine with the builtin `encoding/json`.

[code]

[2021-12-25 06:04] orisano commented on #308
It is probably due to this commit.
https://github.com/golang/go/commit/1b2d794ca3ba60c2dbc958a271662784a7122739

[2021-12-27 09:20] goccy commented on #308
Thank you for the reporting and suggestions for the cause .
This bugs was probably fixed with https://github.com/goccy/go-json/pull/310 .

[2021-12-27 09:20] #308 closed

[2021-12-27 11:08] iredmail commented on #308
Dear @goccy

Any plan for tagging a new release with this fix?

[2021-12-29 13:46] OlegElizarov commented on #307
I had same problem in 0.8.1 version. Than updated to master(0.8.2) and got

[code]
This marshal() is called in child goroutine of http.Serve . My struct is ~
map[string]interface{"text1":[]element{element{field1:map[string]interface{}}}}

Can't repeat problem in single goroutine with that struct, but if field1 is nil or empty(len=0) than it doesn't panic
There is no panic if using encoding/json ,

[2021-12-29 16:22] goccy commented on #307
Thank you for the reporting.
I tried to reproduce this problem, but still I couldn't ...
My testing codes is the following .

[code]

[2022-01-04 10:24] oz-dev-v0 opened #316 "go-json returns different string on MarshalIndent than standard json"
go-json returns different string on MarshalIndent than standard json.

code:

[code]

result:

[code]

[2022-01-04 13:32] goccy commented on #316
Thank you for reporting. I'll fix this problem with #317

[2022-01-05 11:45] #316 closed

[2022-01-07 15:59] draeron commented on #223
I encountered this problem, i changed the decoder to `encoding/json` and it works. I'm decoding the json directly from a s3 body response if this can help.

Looking a little where the error is created it seems like the buffer being parsed is reaching the EOF even though the response is not read completely. Not sure if the problem is with the json lib or it's the `io.Reader` which is badly implemen

[2022-01-09 19:57] watchforstock commented on #307
Thanks for following this up. After raising this, we got another (but different) concurrent access error while JSON marshalling. I now suspect that there was some object sharing between the goroutines and that may have been the cause of this error. We've put a fix into our codebase and will try this library again and see if we see the issue again.

[2022-01-10 00:20] hi019 opened #318 "Incorrect uuid marshalling with embeded struct"
[code]

Output:

[code]

[2022-01-11 06:12] goccy commented on #318
Thank you for reporting ! I will fix this problem with #319

[2022-01-11 06:15] hi019 commented on #318
@goccy Great! Thanks for the fast fix :)

[2022-01-11 06:26] #318 closed

[2022-01-11 06:31] goccy commented on #318
I released this fixing as [v0.9.1](https://github.com/goccy/go-json/releases/tag/v0.9.1) :)

[2022-01-12 12:19] rustatian opened #320 "Error on non existing `map[float64]float64` json key"
Hey @goccy, thanks for the nice library 👍🏻

I have an issue with parsing the `map[float64]float64` fields.

Given the following example (simplified):

[code]

error: `json: cannot unmarshal object into Go struct field Foo.Bar of type float64`.

In this case, there is no such key `bar` in the incoming JSON. I expect, that the structure will have just `nil` `Bar` field w/o errors, instead, in the ca

[2022-01-13 09:05] goccy commented on #320
Thank you for reporting ! I'll fix this problem with #321

[2022-01-13 12:54] #320 closed

[2022-01-14 11:22] goccy commented on #303
Thank you for sharing reproducible codes. I'll fix this problem with https://github.com/goccy/go-json/pull/322

[2022-01-14 11:32] #303 closed

[2022-01-17 09:08] Max-Cheng commented on #307
I got the same problem with copy a `sync.Map` to a normal build-in normal map

[2022-01-17 09:29] goccy commented on #307
@Max-Cheng
Wow! Is it possible to write reproducible test code?

[2022-01-17 09:32] Max-Cheng commented on #307
Context:
[code]

Stack:

[code]

I'll try to help you add some unit test code.

[2022-01-17 09:33] Max-Cheng commented on #307
Not only `v0.9.1``v0.9.4`

[2022-01-17 09:44] goccy commented on #307
Ah, Looking at the stack trace, it seems that you are using `json.MarshalNoEscape` instead of `json.Marshal` . This does not escape the argument, so this API will cause problems depending on the timing of the GC. I want to know the pattern of bugs that occur in json.Marshal.

[2022-01-17 10:14] Max-Cheng commented on #307
Nope. I using default pattern

[2022-01-19 21:15] lafriks opened #324 "Panic when upgrading from v0.7.10 to any newer version"
code panics while marshaling `req` variable:

[code]

[2022-01-20 00:53] mitar opened #325 "omitempty with empty structs"
It would be great if this library would support omitempty with empty structs, like this proposal is proposing: https://github.com/golang/go/issues/11939

Or supporting that `nil` from `MarshalJSON` omits the field: https://github.com/golang/go/issues/50480

[2022-01-20 14:43] goccy commented on #324
Thank you for reporting ! I'll fix this problem with #326

[2022-01-20 14:54] #324 closed

[2022-01-20 16:10] lafriks commented on #324
Can confirm that my issue is resolved with latest version. Thanks for fast response and great library!

[2022-01-20 16:30] goccy commented on #324
Thank you for confirmation ! I released this fixing as v0.9.4

[2022-01-25 14:41] jability opened #327 "Panic when decoding time.Time with context"
Hi, go-json is producing a panic when running the following code :
[code]
When using `dec.Decode(&r)` instead of `dec.DecodeContext(context.Background(), &r)`, the code is running fine.

[2022-01-25 19:04] SoftExpert opened #329 "Custom number format"
Hello,

Is there a way to encode a float value as a 2 decimal string ? Even better, can a custom format be specified ?
Example:
following Go structure
[code]
should give the following json; serialization / de-serialization should be possible :
[code]
Thank you for any idea !

[2022-01-27 02:27] #327 closed

[2022-01-27 02:30] goccy commented on #329
I didn't understand why you needed this feature. Could you specifically explain why you need this feature ?

[2022-01-28 06:43] hoslo opened #330 "Different behavior from "encoding/json""
[code]

[2022-01-28 07:57] orisano commented on #330
Smaller reproducible code:
[code]

The problem is that when a slice contains an object with a property of an unexpected type, the behavior is not equal.

[2022-02-01 07:51] shahriar350 opened #331 "Marshal Takes too much time"
I have a product struct when to make it to json using Marshal, It takes too time around 10s-20s to convert. Is there any problem with my code or its a bug?
[code]

[code]

[2022-02-01 07:54] shahriar350 commented on #331
type AutoGenerated []struct {
	ID           int       `json:"id"`
	Name         string    `json:"name"`
	Slug         string    `json:"slug"`
	SellingPrice string    `json:"selling_price"`
	ProductPrice string    `json:"product_price"`
	CreatedAt    time.Time `json:"created_at"`
	UpdatedAt    time.Time `json:"updated_at"`
	Edges        struct {
		SellerProductImages []struct {
			ID        int

[2022-02-01 10:18] orisano commented on #331
I can't reproduce this issue...

[2022-02-01 10:26] orisano commented on #331
[code]

* go-json 0.9.4
* go 1.17.5
* darwin
* amd64
* 2.3 GHz Quad-Core
* Memory 32GB

[2022-02-01 10:28] goccy commented on #331
I didn't understand why the following output was from the code. Are any other programs running in parallel ? I would like to know if the same thing happens with only `json.Marshal` running .

[code]

[2022-02-01 12:22] shahriar350 commented on #331
This is another request which is made by frontend. Ignore this.

[2022-02-01 12:27] shahriar350 commented on #331
i dont know why it takes too much time for me. I use ent for sql. But other package like std package, gojay, json-iterator works fine but this package works fine but takes too time.

[2022-02-01 12:31] orisano commented on #331
Can you take a pprof?

[2022-02-01 14:21] shahriar350 commented on #331
![image](https://user-images.githubusercontent.com/44544213/151985125-998f99b8-a502-49ff-9787-e5df0f09b30d.png)
0.1% cpu use for my project. why only go-json takes too much time? other package of json work normally.

[2022-02-02 02:58] goccy commented on #331
It is not reproducible and may be an environment dependent issue. I can't investigate as it is, so could you measure it with pprof and attach a capture of the go-json part?

[2022-02-02 15:45] efectn commented on #331
You should use Fiber's https://github.com/gofiber/fiber/tree/master/middleware/pprof middleware and go tool pprof for more detailed output

[2022-02-02 20:15] shahriar350 commented on #331
actually i dont know about that package.

[2022-02-04 23:12] clecompt-msft opened #332 "Option to match JS/ECMA behavior for NaN and Inf"
Would it be possible to add an option to `MarshalWithOption` which mimics the standard JS behavior of marshalling NaN and Inf to null, rather than returning an error?

For reference:
https://262.ecma-international.org/12.0/#sec-serializejsonproperty (step 9)
https://github.com/golang/go/issues/3480

[2022-02-12 04:43] brightpuddle opened #333 "Unmarshal hangs on large dataset"
I have a large dataset that takes an extraordinarily long time Unmarshalling into a `map[string]struct`. The same data decodes fine, and fairly quickly with encoding/json. Doing some testing it seems to get considerably slower as the size of the dataset increases. The original dataset is 369,401 lines, but as an example these are the results of timing the binary on my laptop at 100,000 lines:

**g

[2022-02-12 05:07] orisano commented on #333
The cause is probably the same as #306.

[2022-02-12 05:12] orisano commented on #333
<img width="1307" alt="Screen Shot 2022-02-12 at 14 12 08" src="https://user-images.githubusercontent.com/1029249/153697734-b6a570c1-6e74-4a09-b700-981b981fbcce.png">

[2022-02-12 17:01] orisano opened #335 "got an unexpected result when a slice contains an invalid string"
I got an unexpected result when a slice contains an invalid string

repro:
[code]

[2022-02-18 12:35] sujit-baniya opened #336 "[QUESTION] - Different error message from standard json"
Almost all error messages are different from standard json. Shouldn't it require to have same error messages to be 100% compatible?

[2022-02-18 12:41] sujit-baniya commented on #336
[code]
![image](https://user-images.githubusercontent.com/4959215/154684793-f787118f-8d5a-40c0-8a9e-38979438a370.png)

[2022-02-18 15:19] shahriar350 commented on #331
**with go-json**
[code]
**with other json**
[code]
@goccy is this type of pprof you need?

[2022-02-18 15:24] orisano commented on #331
Maybe it is a memory profile. I think that we need a CPU profile.
Could you get a CPU profile?

[2022-02-19 11:55] shahriar350 commented on #331
**with ffjson:**
**Type: cpu
Time: Feb 19, 2022 at 5:47am (+06)
Duration: 30.01s, Total samples = 270ms (  0.9%)**
[code]
--------------------------------------------------------------------------------
**With go-json**
**Type: cpu
Time: Feb 20, 2022 at 5:44am (+06)
Duration: 30.02s, Total samples = 49.21s (163.94%)**
[code]

[2022-02-19 12:10] orisano commented on #331
Thanks!
Could you also upload the profile file?

[2022-02-19 12:29] shahriar350 commented on #331
go-json
[gojson-pprof.samples.cpu.003.pb.gz](https://github.com/goccy/go-json/files/8102154/pprof.samples.cpu.003.pb.gz)

ffjson

[ffjson.pprof.samples.cpu.004.pb.gz](https://github.com/goccy/go-json/files/8102156/pprof.samples.cpu.004.pb.gz)

Issue project:
https://github.com/shahriar350/eCommerceGolangNuxt-backend

[2022-02-19 12:53] orisano commented on #331
I reproduced this issue.
Does this problem occur only on the first request?

[2022-02-19 12:54] orisano commented on #331
My request's logs:
[code]

[2022-02-19 12:59] shahriar350 commented on #331
yes. first time only. later it caches data and returns that.

[2022-02-19 13:40] orisano commented on #331
My repro repo:
https://github.com/orisano/eCommerceGolangNuxt-backend

I think the reason is that when linkRecursiveCode is applied to `recursiveCodes` of length 2522, `copyCode` is executed 2522 times, which causes a lot of memory allocation and GC.

The performance of go-json may be poor for entc-generated types.

@goccy how should we solve this problem?

[2022-02-19 13:53] shahriar350 commented on #331
I also tried with [GORM ](https://github.com/shahriar350/eCommerceGolangNuxt-backend/releases) orm. I faced the same problem. I thought about the problem with GORM but later after I changed my orm to EntGo, the issue still existed.

[2022-02-22 08:50] smainz opened #337 "Parsing error for valid json. Breaks gitea 1.16"
Hi all,

in our gitea 1.16 server (using this library via go chi) we are encountering a parsing error that does not happen with the standard library.

There seems to be a problem if a nil / empty object is encountered in the input string around the position 511. You can see the issue in the code example below.
[code]
Expected is that both variants result in the same objects and no error, but the s

[2022-02-22 15:24] smainz commented on #337
Thank you, that was a fast one.

[2022-02-24 05:37] lisuxiaoqi opened #339 "crashed by anonymous structure field"
Hi guys, strange behavior happened. go-json crashed in the following code, whereas the stand library works correctly
[code]

[2022-02-24 09:39] orisano commented on #339
[code]

MarshalJSON called from the wrong receiver address on json.Marshal(&v).

[2022-03-03 16:22] aexvir opened #340 "expected comma after object element"
similarly as reported in https://github.com/goccy/go-json/issues/217, we're hitting an issue where `go-json` randomly fails parsing payloads, all of which are completely valid json, correctly parseable by `encoding/json` and `jsoniter`

and it's not clear to me what's causing this...

attaching the debugger and checking the code, I'd say that it's something related to the cursor being incremented

[2022-03-04 10:13] aexvir commented on #340
@orisano I've checked your patch and unfortunately it still fails to parse this json, with the same error 😕
I've used the exact same code and payload I've added to this issue report, and then
[code]
so that fix doesn't seem to be covering this use case unfortunately

[2022-03-04 11:05] orisano commented on #340
Sorry, I misunderstood this issue.
Could you confirm this PR? https://github.com/goccy/go-json/pull/341

[2022-03-04 11:50] #340 closed

[2022-03-04 11:51] aexvir commented on #340
damn you're fast 😅
I can confirm that fix correctly addresses this problem
thanks!

btw... I'm thinking about making a branch in my own fork including the three fixes you've opened pull requests for
mainly to continue testing `go-json` as replacement for jsoniter on our current codebase

do you expect any issue with this?

[2022-03-04 11:51] #337 closed

[2022-03-04 11:52] aexvir commented on #340
oh... nevermind, it seems that the fix for this issue has been merged to master just right now 🤣
so I guess the others might also get merged? will keep an eye on this

[2022-03-04 11:53] #333 closed

[2022-03-04 11:54] aexvir commented on #340
all merged, amazing 🎉
thanks @goccy !🙂

[2022-03-04 11:56] goccy commented on #331
I was able to figure out the problem. thank you :)
Also, I will think about how to resolve this problem 🤔

[2022-03-04 12:06] goccy commented on #340
I just released this fixing as v0.9.5 :)

[2022-03-05 08:59] NyaaaWhatsUpDoc commented on #269
I mean, is this a compiler bug? By using your noescape hack you're explicitly telling the compiler that it never escapes and not to worry about it. This sounds like behaviour as expected

[2022-03-08 13:40] aexvir opened #342 "panic: json: cannot unmarshal object into Go struct field Payload.Data of type main.Key"
we're still evaluating go-json as replacement for jsoniter on our setup, and during our testing I've found another issue where go-json wouldn't be able to parse valid json that both `encoding/json` and `jsoniter` parse just fine

this time it seems to be caused by using custom types with custom unmarshal functions as map keys
when attaching the debugger with a breakpoint on the `UnmarshalJSON` fun

[2022-03-08 15:15] orisano commented on #342
There is an incompatible behavior.
but `encoding/json` does not support UnmarshalJSON on map key type.
https://go.dev/play/p/gtPW1rnJBuG

[2022-03-08 15:18] orisano commented on #342
`encoding/json` directly converts the string to KeyType. it does not call UnmarshalJSON.
https://github.com/golang/go/blob/6e63be7b69aab25ac66029e7dfec47303d3b7505/src/encoding/json/decode.go#L792

[2022-03-08 15:22] aexvir commented on #342
oh, yep, you're right... this seems to be something from jsoniter, and I incorrectly assumed `encoding/json` was behaving the same

[2022-03-12 14:18] lemon-mint opened #343 "cannot unmarshal number -128 into Go struct field JSONStruct.Int8 of type int8"
When I try to unmarshal "-128" to int8 type, "github.com/goccy/go-json" shows a different behavior from "encoding/json"

reproducible by: https://github.com/lemon-mint/golang-json-benchmark/blob/43d11d65ebbc6d4a43e6f9f4cfbb92f78a05c8c2/main_test.go

[code]

[2022-03-12 15:49] #343 closed

[2022-03-18 08:39] luyouxin84 opened #346 "not work on go 1.18"
i use framework go fiber, fiber.Context.Json cant work.
in go 1.17.8 c.json work fine,but after i upgrade go version , c.Json not work report "runtime error empty pointer"

they asked me send here. can u check this?

[2022-03-18 08:43] DasSkelett commented on #346
Downstream issue: https://github.com/gofiber/fiber/issues/1820

[2022-03-18 08:54] goccy commented on #346
Thank you for reporting. I'll try to support Go 1.18.

[2022-03-18 09:18] goccy commented on #346
First, I updated go version with #347 , But doesn't seem to reproduce in my test case.
Could you provide the minimum reproducible code ?

[2022-03-18 12:44] j-sv opened #348 "Decoding large documents panics"
I'm decoding a large file with multiple documents, and at some point the decoder panics while trying to index outside of a buffer. I've tried to recreate it with slight smaller data, but it has to be a certain size for the bug to trigger.

[code]

This works if using `encoding/json`.

The actual panic appears to happen here: https://github.com/goccy/go-json/blob/master/internal/decoder/stream.go#L

[2022-03-18 12:55] TomasWahlgren commented on #348
I see the same problem with large files

[2022-03-18 18:02] eatonphil opened #350 "Encoder panics in some cases when -buildmode=pie enabled on Linux"
Hey I'm having a really hard time making a simple reproduction case. But basically if you clone github.com/multiprocessio/dsq and run `go build -buildmode=pie && ./scripts/test.py` it will show you this:

[code]

This panic doesn't happen if `-buildmode=pie` is not set.

Any idea what's happening here?

[2022-03-18 22:16] orisano commented on #350
I can't reproduce this issue.
could you tell us the output of `go env`?

<details>
<summary> $ go env </summary>

[code]
</details>

[2022-03-19 00:33] eatonphil commented on #350
[code]

[2022-03-19 00:36] eatonphil commented on #350
You're right this doesn't show up on mac.

[2022-03-19 00:42] orisano commented on #350
I made a workaround. #351
Could you confirm the workaround?

[2022-03-19 00:58] eatonphil commented on #350
Yep that fixes it. Thank you!

[2022-03-19 01:36] orisano commented on #350
https://github.com/xitongsys/parquet-go makes a type from schema at runtime.
go-json's encoder caches the compiled encoder for each type.
The encoder computes index from type pointer for caching.
The case of a large type pointer was taken into account, but the case of a small type pointer was not.
It seems that on Linux, if buildmode=pie, the type address created at runtime is smaller, causing thi

[2022-03-19 01:43] eatonphil commented on #350
Thanks for the quick fix! I was worried it would be too obscure/hard to figure out.

[2022-03-19 12:26] #306 closed

[2022-03-19 12:27] #350 closed

[2022-03-19 15:14] #348 closed

[2022-03-21 07:32] PhillipHuang2017 commented on #306
I'm afraid it doesn't solve my problem. I update and run [benchmark](https://github.com/goccy/go-json/issues/306#issue-1073959209)  above, got same result.

[code]

[2022-03-21 09:33] orisano commented on #306
It does not release yet.
please use the master branch.

[2022-03-21 19:39] aexvir commented on #342
someone smarter than me pointed out today that `encoding/json` actually does allow for custom unmarshaling on map keys, as long as the custom type implements the `encoding.TextMarshaler` interface 😅
it's documented on the [official docs](https://pkg.go.dev/encoding/json#:~:text=Map%20values%20encode%20as%20JSON%20objects.%20The%20map%27s%20key%20type%20must%20either%20be%20a%20string%2C%20an%20int

[2022-03-22 12:57] efectn commented on #346
I think you can close the issue. Probably it was related of using Fiber version.

[2022-03-22 17:52] itzikiusa opened #352 "Support multiple conversion types"
Hi,
Now with introduction of generics
Maybe it will be worthy to support multiple json values parsers for same key

i.e
If we have field of bool
It will accept both:
true
“true”

same for numbers
If i take example from Java
Json parsers can parse both types(base type, and conversion from string)

[2022-03-23 01:18] lisuxiaoqi commented on #339
hi guys, could anyone tell is there a plan for this bug? I like the [go-json](https://github.com/goccy/go-json) very much. It' s speeding and easy to use. however the bug really troubles me to use it in my project. Thanks a lot

[2022-03-23 02:45] goccy commented on #346
Thank you :)

If you have any problems, please reopen this issue .

[2022-03-23 02:45] #346 closed

[2022-03-23 08:40] #296 closed

[2022-03-24 07:43] #342 closed

[2022-03-24 07:49] goccy commented on #307
@Max-Cheng Ummm... `json.MarshalNoEscape` is always used in the stack traces you posted.

[2022-03-24 13:14] jfcg opened #354 "zero byte in error string"
Hi,
For Go `1.17.8` and go-json `0.9.6` this code:
[code]
prints:
[code]
so there is a zero byte between single quotes in the error message. This does not sound right as there is no data in buf.
`encoding/json` does not have this issue and the error message is `unexpected end of JSON input`.

CC: @ReneWerner87 @efectn

[2022-03-25 15:05] Max-Cheng commented on #307
No more panic after using `map[string]interface{}` and `gjson.marshal`, thanks! @goccy

[2022-03-25 15:45] goccy commented on #307
@Max-Cheng Thank you for your report !!

@watchforstock @OlegElizarov
This problem may have been fixed by some modifications to the map encoder.
If you encounter similar issues with v0.9.6 or later, please reopen this.

[2022-03-25 15:47] goccy commented on #352
Could you give me a concrete example of the code you would like to use ?

[2022-03-25 15:50] goccy commented on #354
We're aiming for behavior that's compatible with encoding/json, but it doesn't include outputs the exact same error message. So, this is spec .
However, we plan to make corrections to change the error message to a more understandable one in the future.

[2022-03-25 15:52] goccy commented on #336
We're aiming for behavior that's compatible with encoding/json, but it doesn't include outputs the exact same error message. So, this is spec .
However, we plan to make corrections to change the error message to a more understandable one in the future.

[2022-03-25 16:26] goccy opened #357 "Next Optimization Plan"
Here are some optimization ideas that I'm currently thinking about

### 1. Optimization for standard library's Marshal(JSON|Text) and Unmarshal(JSON|Text)

The standard library's Marshaler returns valid and (compacted) JSON, so we can omit validation and compaction process for specified types e.g.) `time.Time` ` net.IP` `big.Float`
Similarly, `json.RawMessage` can be optimized .

### 2. Using unsa

[2022-03-25 16:36] jfcg commented on #354
Hi @goccy,
My point was there should not be any zero byte in your error message. I am pretty sure this is a bug, and possibly a security concern.

[2022-03-25 18:05] goccy commented on #354
go-json adds the nul character to the end of buffer at Unmarshal for optimization, so it's just printed.
https://github.com/goccy/go-json/blob/master/decode.go#L29

[2022-03-25 18:31] jfcg commented on #354
Wow, you are allocating memory and copying the whole data just for a single zero byte.

This sounds like a bad choice. Does it really pay off?

[2022-03-25 20:07] shahriar350 commented on #331
Great. @goccy . I hope you resolve that problem soon but could you please what is the issue occur in this problem?

[2022-03-26 07:17] goccy commented on #354
Please read this
https://github.com/goccy/go-json#faster-termination-character-inspection-using-nul-character

[2022-03-26 07:17] #354 closed

[2022-03-26 07:32] goccy commented on #331
This cause is mentioned by @orisano . Dedicated processing is performed when encoding a struct type with a recursive structure. At this time, the copy process runs, so if you target a struct type with many fields, it will take a long time to copy at first time only.

[2022-03-26 08:19] jfcg commented on #354
That just describes your design choice, a benchmark would "validate" it.

Your decision creates extra allocation, copy, GC costs. All high performance libraries I know of especially avoid these.

[2022-03-27 19:31] localhosted opened #358 "Disable omitempty as a Option"
Is it possible to disable the `omitempty` tag?

I want to be able marshal a struct forcing all fields to show in the resulting json for specific use cases

[2022-03-28 02:59] goccy commented on #358
I'd like to know a specific reason why you want this feature.
Adding functionality is costly to develop and maintain, so we need a good reason.

[2022-03-28 22:43] #358 closed

[2022-03-28 22:44] localhosted commented on #358
Its probably better to just fork and do what I need to do without adding extra functionality here

[2022-03-30 05:04] itzikiusa commented on #352
@goccy
hi,
yes sure

in general, pretty much what json.Number provides, just automatically do it for several types
lets say we have struct:
`type CommonProviderResponse struct {
	Code int `json:"code"`
}`
and request of:
`{"code":200}`
struct will be filled with 200

and if request of:
`{"code":"200"}`
also struct will be filled with 200

same goes for boolean type, automatically fill it with the

[2022-04-05 20:42] ericklaus-wf opened #359 "Panic when marshaling horrible pointer"
Go sometimes panics with a `fatal error: checkptr: converted pointer straddles multiple allocations` when trying to marshal a certain horrible pointer. (When it doesn't panic, it just hangs forever.)

I'm using Go 1.17.8, just in case that's relevant.

Repro'ing test code is below. Each component of this test seems to be necessary to trigger this bug. Assigning the horrible `otherInterface2` to th

[2022-04-06 13:42] handsomejack-kiwi opened #360 "can not unmarshal into `[]uint8`"
Hi goccy,

there's a problem when unmarshalling into `[]uint8`, see below example:

[code]

which produces

`panic: json: cannot unmarshal  into Go value of type uint8`

The above example does, however, work as expected with `encoding/json`.

PS: Quickly checking, I couldn't find another type that would suffer from this, besides `[]uint8`.

Can you please take a look?

Cheers

[2022-04-12 15:41] #360 closed

[2022-04-13 15:35] ericklaus-wf opened #362 "Panic when marshaling embedded aliased primitive"
When marshaling a struct that has any field and also embeds an aliased primitive, go-json panics. Additionally, if the panic is resolved, the produced bytes are correct, but go-json ignores the aliased primitive when unmarshaling.

[code]

[2022-04-13 15:37] ericklaus-wf commented on #362
I can fix the panic and get correct bytes by modifying [lastAnonymousFieldCode](https://github.com/goccy/go-json/blob/0940ff319896ae9f02437d2a5d5b9604efdd9ae9/internal/encoder/code.go#L399) to add a nil check on `firstField.Next`, but I've gotten lost trying to find the issue in the Unmarshal path.

[2022-04-21 16:02] #359 closed

[2022-04-25 13:51] victor-oancea-leftclick-io opened #364 "Emoticon unmarshall issue"
Given this json. `{"description":"\uD83D\uDE87 Toledo is a metro station"}`

Given this struct :
[code]
This json library fails to Unmarshal that string properly and generates a struct with
`MetroStation.Description = "�� Toledo is a metro station"`

This does not happen with `encoding/json`

[2022-04-25 17:56] orisano commented on #362
Unmarshal path's issue is maybe here: https://github.com/goccy/go-json/blob/22be3b9a93e432bd30b92b68461a2c35356b9a83/internal/runtime/struct_field.go#L16

[2022-04-28 09:33] #364 closed

[2022-04-28 12:37] #362 closed

[2022-05-02 05:07] #335 closed

[2022-05-03 04:59] #331 closed

[2022-05-04 13:48] #336 closed

[2022-05-04 13:49] #295 closed

[2022-05-13 08:21] hidechae opened #370 "Defferent behavior from "encoding/json" for MarshalJSON"
[code]

When I change `(s *NullString)` to `(s NullString)`, it's fine. (and maybe I should do so.)
So, it is not a critical issue, but I would prefer that compatibility be supported.

[2022-06-13 14:45] ericklaus-wf opened #372 "Unmarshaling omits embedded pointer to an aliased primitive"
Related to #362

When unmarshaling a struct with an embedded pointer to an aliased primitive, the resulting struct omits the the pointer field leaving it `nil`.

The original struct _is_ correctly serialized. For example, in the test below, the AliasedPrimitive field has a value of 7.

[code]

panics due to `newCombiner.AliasedPrimitive` being `nil`.

[2022-06-21 21:29] Trim21 opened #373 "bad pointer in Go heap"
I'm using latest go-json version 0.9.7, in my long-time-running server and I found it restart with some memory problem many time.

after digging, I find the reason it goccy/go-json.

I can provide a maybe re-production example (I can't always run into the memory error, You may need to run many times):

[code]

run it with `go run -race main.go`, you may see many kind of errors

1. `DATA RACE`

[co

[2022-06-21 21:31] #373 closed

[2022-06-25 22:55] eatonphil opened #374 "Panic in decoder"
Not even sure how to start reproducing this unfortunately.

[code]

[2022-06-29 17:18] #339 closed

[2022-06-30 11:35] james-d-elliott commented on #374
It'd probably be useful for the maintainer if you had some example to reproduce this.

[2022-07-02 01:52] Trim21 opened #376 "Bug: struct with map (the only one field) encoded to `null`"
[code]

output: `{"value":null}`

[2022-07-02 19:47] orisano commented on #376
what is your expectation?

I could not reproduce this problem in v0.9.8.
[code]

what version did you use?

[2022-07-02 19:53] Trim21 commented on #376
Oh, sorry, I'm using 0.9.7.

This bug behavior different in 0.9.8, try this: (remove `MapOnly[].b`)

[code]

[2022-07-02 19:58] Trim21 commented on #376
@orisano can you re-produce with new example?

I just try this on master branch and it fail.

[code]

[2022-07-02 20:02] orisano commented on #376
thanks, I reproduced.

[2022-07-04 05:07] #376 closed

[2022-07-05 02:53] orisano commented on #374
[code]
I reproduced the panic in the same place, though it may not be the same cause.

[2022-07-05 05:21] #372 closed

[2022-07-07 05:46] #370 closed

[2022-07-09 17:02] #374 closed

[2022-07-10 00:43] Trim21 opened #381 "encoder cache out of range panic"
[code]

re-produce test case: (64 bit os and golang)

[code]

debug info:

`typeptr` equal to `typeAddr.MaxTypeAddr` in this case

https://github.com/goccy/go-json/blob/a812201b02162aea941218032deb623a189359c8/internal/encoder/compiler_norace.go#L7

[2022-07-12 08:43] Trim21 commented on #357
suggesstion:

Just assert ptr to `time.Time` and call `time.Time{}.AppendFormat(buf, time.RFC3339Nano)` direcly for `time.Time`?

[2022-07-15 10:10] #381 closed

[2022-07-18 12:20] KimHyeonwoo opened #384 "unexpected behavior when buffer ends with backslash"
## Version
v0.9.10

## Summary
In double quote case (`"`) of `Stream.skipObject` function, if `s.buf` ends with backslash (`\`), the character right next to backslash doesn't escaped.

## Way to reproduce this issue
`test.json`
[code]

- 511th character of the json is backslash
- initial buffer size of the stream is 512, so 512th character of a buffer is `\0`
- 512th character of the json is doubl

[2022-07-25 18:41] zamicol opened #385 "add Decoder.DisallowDuplicateFields"
An option to disallow duplicate fields, Decoder.DisallowDuplicateFields(), would increase compatibility with other JSON implementations written in various languages and systems.

dsnet wrote a [great summary on the Go issue](https://github.com/golang/go/issues/48298) regarding the problems with duplicate fields.

[2022-07-28 17:54] Trim21 opened #386 "Bug: can't decode escaped unicode string"
unexpected error: `json: string unexpected end of JSON input`

some other context:

- it works fine if `a` is an `interface{}`
- it also works fine if using `json.Unmarshal`, not `NewDecoder()`
- this is the minimal case to re-produce this issue, remove any key-value pair from raw json will make go-json works fine.

[code]

[2022-08-01 10:15] cxjava opened #388 "Interpret single JSON object as an array with one element?"
Hi, I want to handle the json format `"address":["road1","road2"]` and `"address":"road1"` using one struct `Address []string`. In Java, some library have this ability to handle this special case, like https://stackoverflow.com/questions/17003823/make-jackson-interpret-single-json-object-as-array-with-one-element

Can we add this feature? or do we already have this feature? I am newbie of this lib

[2022-08-01 11:28] #386 closed

[2022-08-03 07:33] ochiama commented on #388
Hello, I am very new to Go and I just started to read and learn from documentation and OSS. I apologize in advance if I come up with silly misconceptions.

In another library, I read about how they deal with arbitrary JSON content i.e.

The suggestion was the use of empty interface `interface{}` i.e.

- `map[string]interface{} `
- `[]interface{}`

If it isn't supported yet with this, it may be a g

[2022-08-03 12:10] handsomejack-kiwi opened #389 "Unclear error message when unmarshaling into a field of different type"
Hi goccy, me again

I've encountered a somewhat cryptic message when trying to unmarshal `float32` into say `uint32`.

See following code:
[code]

---

For `encoding/json`, this produces:

which is pretty straightforward.

---

But if you switch to `goccy/go-json` package, the message is:

which is rather confusing, in my opinion.

---

Can you please take a look?
Cheers

[2022-08-03 12:18] #384 closed

[2022-08-06 11:54] kislerdm commented on #388
Hey! What you propose goes against best practice of single responsibility for a unit of logic. The unmarshal method must carry the single responsibility of deserializing bytes into a Go object only. On that basis, IMO the request shall be discarded.

Provided example indicates that the input data structures have different format, ergo different Go type. Decision about the type shall be taken after

[2022-08-08 14:58] wuudjac opened #390 "Support dynamic filter query on slice value and map value"
Hi goccy, glad to see your dynamic filter feature perfectly meets what we need in our JSON log situation.

What we face is, we have a lot of huge thrift-generated request/response structs that we cannot control how to dump as JSON. But with dynamic filter feature, we may drastically shrink our logs and reduce performance loss.

However, seems like it only supports pure nested struct data model, I'

[2022-08-11 14:06] swithek opened #391 "Panic caused by omitempty in an embedded struct"
This problem can be reproduced with the following code:
[code]

Panic information:
[code]

What I've noticed so far:
- There's no panic when `type substitute MainStruct` isn't used
- There's no panic when `omitempty` isn't used by `CustomString1` in `EmbedStruct`
- There's no panic when `CustomString1` is non-zero
- It works without any problems when `encoding/json` is used

[2022-08-12 15:34] swithek commented on #391
@goccy what do you think about this?

[2022-08-16 02:28] orisano commented on #391
I wrote the minimum reproducible code.
[code]

[2022-08-17 14:55] Trim21 commented on #386
Can we get a new release included this bug fix? 👀

[2022-08-18 03:08] goccy commented on #390
Thank you for the contribution !!

As you said, regarding map, it seems that it can be handled by implementing Filter. You can do the same with slice , but you have to think about how the user will specify the elements of slice. Currently, it is specified based on the ( struct's ) field name.

[2022-08-18 03:18] goccy commented on #386
Thank you for the notification, just now I released this fixes as v0.9.11 .

[2022-08-21 07:27] surethink opened #392 "Ignore JSON tags when marshalling and unmarshalling"
Would you please add such a feature to Ignore JSON tags when marshalling and unmarshalling

Scenario:

type User struct{
   UserName string `json:"username"`
   Password string `json:"-"`
}

For example, I'd like to ignore the Password field when marshal to json and send to front end. with the tag `json:"-"`, everything is ok. but before that, I want to marshal it to json and send it to redis , th

[2022-08-22 13:04] FeldrinH opened #393 "Add 'required' struct tag for decoding"
The essential idea is the same as https://github.com/golang/go/issues/17163:

It would be useful to add support for a struct tag indicating required fields, for example `json:",required"`, which if present would cause the decoder to return an error if the field is missing in the input json. If the field is present, the decoder would behave the same encoding/json.

So for example
[code]
would retur

[2022-08-22 20:33] Ashtonian opened #394 "invalid json is passing json.Valid"
I've got some weird characters coming from a IoT device in the field as bytes and when its used as a string it passes the `json.Valid` without error. The stdlib marks it as invalid, insomnia marks it as a weird field and online json validator says the character is unkown. It shows up as a red box with `SOH` is vscode and as a red dot in chrome/insomnia/online validator.

Not sure how I can get the

[2022-08-22 23:04] FeldrinH commented on #393
As an alternative, if adding a struct tag seems like too much of a break away from encoding/json, an alternative proposal would be to add a config option similar to DisallowUnknownFields that controlls handling of fields missing from the input json data, with three possible modes:
* All fields are optional (current behavior)
* Only fields with nil as default value, such as pointers and arrays are

[2022-08-24 12:55] FeldrinH opened #395 "Support Decoder options for Unmarshal"
It would be nice if this library could support Decoder.UseNumber and Decoder.DisallowUnknownFields on the Unmarshal method as well.
Currently, as far as I can tell, using these options requires using Decoder, which has two disadvantages:
* If you have data that is already in a byte array then Decoder is slower according to the benchmarks
* As far as I know Decoder has no reliable method to ensure

[2022-08-26 09:37] Maydaer opened #396 "Large memory consumption/slow when using decoder.token()"
I want to write a program that is able to parse a few specific entries in a json file without needing to load the complete file into memory, in order to minimize both CPU and memory consumption for a docker container. I have been using encoding/json decoder.token() for this. It works but is kinda slow, so I have tried the same with the go-json library. While I get a significant speedup for some of

[2022-08-29 04:24] itziklavon commented on #307
@goccy
i'm still having this issue on v0.9.10
i don;t know how to reproduce it, but it happens once in a couple of days on my server
golang version 1.18

stack trace:
[code]

[2022-08-29 23:54] futurist opened #397 "add sonic"
Maybe can add this lib to the list:
https://github.com/bytedance/sonic

[2022-09-06 10:46] jsjain opened #399 "Support for custom tags"
Can support for custom tag while marshalling and unmarshalling struct be added to the library ?

Usecase -
We receive json response in wierd key name but while storing and forwarding the same response I want to fix the key names in response.

Current solution -
1. I am aware that I can create 2 struct like below and typecast them
[code]
This would give exactly the same result but would require me

[2022-09-07 09:22] kaibox-git opened #400 "Panic"
I cut structures for readability. It works with "encoding/json", but panics with "github.com/goccy/go-json"

[code]

[2022-09-07 09:33] kaibox-git commented on #400
I understand, "omitempty" is the reason.

[2022-09-08 23:25] abemedia opened #401 "Panic when marshaling a map with custom marshaler"
I just switched some working code from `encoding/json` to `github.com/goccy/go-json` and this caused a panic.
Sometimes it panics with `fatal error: invalid pointer found on stack` and sometimes with `runtime error: invalid memory address or nil pointer dereference`.

The error occurs when using a map, where the values are a custom map type which implements the `json.Marshaler` interface.

Here so

[2022-09-14 12:22] aexvir opened #402 "panic unmarshaling map with omitempty present in nested embedded struct"
kinda similar to #400 but not really the same... at least I can't get to reproduce it with other pointers, just with map
* it doesn't happen if I remove one embed; e.g. `var ord Product`
* it doesn't happen if the omitempty is on a different type; e.g. `Discounts *float64 `json:"discounts,omitempty"`
* it doesn't happen if I remove the `omitempty`
* it happens regardless of the map value type; `e.

[2022-09-14 12:24] #402 closed

[2022-09-14 12:27] aexvir commented on #391
also hitting the same issue; I've added another reproducible code snippet on the issue I've created

[2022-09-16 08:32] lovung commented on #401
I got the same issue. But seem only happen after upgrading to go1.18.

[2022-09-23 11:58] openmohan opened #403 "Decoding error message is misleading, when there is limit on the reader"
**Objective:**
When decoding a JSON, if the reader has a limit and if the data in the reader is exceeding the limit.

**Expected outcome:**
Throw error that the data is exceeding the limit provider on the reader

**Outcome:**
The partial JSON is considered (cutting on the limit) and decoded on the interface.

**Program to reproduce the issue:**
[code]
**Output:**
[code]

Try increasing the size of

[2022-09-23 16:56] benallfree opened #404 "Support for custom encoder function?"
Hi, I'm very new to Go so I apologize if this is an ignorant request.

Is there a way, using this lib or some other, to implement a custom value encoder?

In JS, `JSON.stringify` accepts an optional `encoder` parameter:

[code]

Is there anything similar for Go?

[2022-10-03 07:57] GRbit opened #405 "Unmarshalling interface bug"
When I tried to unmarshal bytes into a struct hidden under a specific interface, "go-json" failed to unmarshal it. At the same time, go standard lib or `json-iterator` feels just fine with this approach.
Since you claim that your library is 100% compatible with the standard library, it makes sense to fix this bug or to change your README and add this exact case.

Code to reproduce the bug:
[code]

[2022-10-06 10:17] cmetallo42 commented on #405
Solved!

[2022-10-10 14:07] qioalice commented on #401
Nope. Can confirm I faced this issue on go1.17.

[2022-10-18 13:34] jeschkies opened #407 "Is there a streaming encoder?"
Hello,

I would like to encode an objects without allocating the JSON string in memory. The serializer should write the bytes to the writer immediately. Is this possible?

[2022-10-19 23:33] Pedro-Pessoa commented on #403
I just came across this issue today.
The error is inconsistent with the std lib.

[code]

Any workarounds @goccy ?
Thanks!

[2022-11-07 13:46] jonasi opened #408 "fatal error on -race with array"
Here's a minimal repro with steps on go1.18.

/tmp/test/main.go
[code]

error:

[code]

[2022-11-14 05:26] goccy commented on #271
I am concerned from a performance point of view that this option affects the runtime code path. (e.g. #371 )
Performance can get worse with each additional branch.

[2022-11-14 09:36] jhwz commented on #271
Yeah that's understandable. It's a hard feature to get right for every use case and I don't have any ideas about how you might implement it.

If others don't need this then we may as well close this issue.

[2022-11-15 12:22] #397 closed

[2022-11-22 19:33] aryehlev commented on #401
hey:)
i see where the issue is, and for now u can change it to have a pointer receiver and it will solve it for now.
I will try to work on a solution this weekend.

[code]

[2022-11-24 22:24] aryehlev commented on #401
fixed here:
https://github.com/goccy/go-json/pull/411

[2022-11-28 19:02] #178 closed

[2022-11-29 13:25] goccy commented on #391
@orisano I think there was another test case besides the test code listed here when we talked before....
Could you please investigate PR #411 fixed it ?

[2022-11-30 14:13] artemklevtsov opened #413 "Cannot unmarshal struct when key is not English"
Seems realted with #234.

[code]

### Exptected

[code]

### Actual

[code]

[code]

[2022-11-30 16:04] izarraga opened #414 "Error after upgrade to 0.10.0 version"
fatal error: checkptr: misaligned pointer conversion

goroutine 1779 [running]:
runtime.throw({0xdee83c?, 0x9d6d01?})
	/opt/localgo/src/runtime/panic.go:1047 +0x5d fp=0xc00349fc48 sp=0xc00349fc18 pc=0x46cfdd
runtime.checkptrAlignment(0x4a2357?, 0x9d6cee?, 0x4a2385?)
	/opt/localgo/src/runtime/checkptr.go:20 +0x7d fp=0xc00349fc68 sp=0xc00349fc48 pc=0x43dcfd
github.com/goccy/go-json/internal/decoder.